@import '../typography/typography.scss';
@import '../grid/grid.scss';


.wrapper {
    @include lg-screen {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: 116px;
            width: 116px;
            background: #132466;
            top: 0;
            left: 0;
        }
        &::after {
            content: '';
            position: absolute;
            height: 116px;
            width: 116px;
            background: #ffcd00;
            top: 116px;
            left: 0;
        }
    }
}

.headline {
    @extend %futurapt-light;
    @include fontStyle(36, 46);
    padding-bottom: 56px;

    @include lg-screen {
        @include fontStyle(64, 72);
        padding: 232px 0 50px;
    }
}

.text {
    @include fontStyle(18, 27);
    p {
        padding-bottom: 20px;
        &:last-child {
            padding-bottom: 0;
        }
    }

    @include lg-screen {
        font-family:  futura-pt,   sans-serif;
        font-weight: 300;
        font-style: normal;

        @include fontStyle(40, 56);

        p {
            padding-bottom: 60px;
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}

.horizontal-divider {
    height: 7px;
    width: 100%;
    margin: 100px 0;
    background: #132466;
    &::before {
        background: #ffcd00;
        width: 7px;
        height: 7px;
        position: absolute;
        content: '';
    }
    @include lg-screen {
        height: 12px;
        margin: 224px 0;
        &::before {
            width: 12px;
            height: 12px;
            position: absolute;
            content: '';
        }
    }
}