@import '../typography/typography.scss';
@import '../grid/grid.scss';


.hero-wrapper {
    // background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(19,36,102,0.4));
    @include lg-screen {
        // margin-left: -40px;
        height: 744px;
    }
}

.bg-wrapper {
    // mix-blend-mode: multiply;
}

.headline {
    @extend %futurapt-light;
    @include fontStyle(36, 46);
    padding-top: 42px;

    @include lg-screen {
        padding: 0 0 8px;
        @include fontStyle(40, 56);
        color: #ffffff;
    }
}

.description {
    @include fontStyle(18, 27);
    padding-bottom: 68px;

    @include lg-screen {
        font-family:  futura-pt,   sans-serif;
        font-weight: 300;
        font-style: normal;

        @include fontStyle(16, 24);
        color: #ffffff;
        padding-bottom: 56px;
    }
}

.link {
    @include lg-screen {
        color: #ffffff;
        border: 1px solid #ffffff;
        padding: 28px 43px;
        margin-bottom: 40px;
        &:hover {
            border: 1px solid #132466;
        }
    }
}

.image {
    @include lg-screen{
        height:744px;
    }
}

.image-wrapper {
    @include lg-screen{
        height: auto;
    }
}

.row-wrapper {
    height: 100%;
    @include lg-screen {
        margin-right: -40px;
        // margin-left: -40px;
    }
}