@import '../typography/typography.scss';
@import '../grid/grid.scss';

.CollectionListcontainer { 
    height: auto !important;
}
.collectionList{
    background-color: rgba(68 , 196 , 217 , 0.1) ;
    padding-top: 101px;
    padding-bottom: 25px;
    @include md-screen {
        padding-top: 108px;
        padding-bottom: 128px;
    }
}

.productview{
    padding-bottom: 25px;
    @include md-screen {
        padding-bottom: 40px;
    }

    position: relative !important;
    left: 0 !important;
    top: 0 !important;
}
.filter{
    display: block;
    font-size: 16px;
    line-height: 24px;
    @extend %futurapt-medium;

}
.Collectionfilter{
    padding-bottom: 24px;
    @include md-screen{
        padding-bottom: 0;
    }
}
.Collectionfilter select::after{
    position: absolute;
    display: block;
    content: " ";
    width: 8px;
    height: 5px;
    background:url(../../images/product-images/mobile-arrow.svg) ;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 55%;
    transform: translateY(-50%);
    right: 15px;
}
