@import '../typography/typography.scss';
@import '../grid/grid.scss';


.type {
    @extend %futurapt-bold;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.6px;
    color: #132466;
    
    position:relative;
    padding-bottom: 24px;
    @include md-screen{
        padding-bottom: 40px;
        padding-left: 30px;
    }
}
.type:before{
    content: "";
   position: absolute;
   display: block;
   width: 12px;
   height: 12px;
   left: 0;
top: 5px;
   background-color: #44c4d9;
    }
.clinicalcollectionhero {
    mix-blend-mode: multiply;
    background-image: linear-gradient(to top, rgba(91, 140, 164, 0) 42%, rgba(91, 140, 164, 0.18));

    @include lg-screen {
        mix-blend-mode: multiply;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 50%, rgba(91, 140, 164, 0.75));
    }
}

.medicalcollectionhero {
    mix-blend-mode: multiply;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 42%, rgba(81, 87, 162, 0.65));

    @include lg-screen {
        mix-blend-mode: multiply;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 63%, rgba(81, 87, 162, 0.65));
    }
}

.generalcollectionhero {
    background-image: linear-gradient(to right, #89b3ea, #73a3e2 36%, #748acb 100%);
    color: #fff;
}

.generalcollectionhero .allheight {
    max-width: 100%;
    height: unset;
    @include lg-screen {
        height: 100%;
        max-width: unset;
    }
}


.collectiontitle{
    font-size: 36px;
    line-height: 46px;
    @extend %futurapt-light;
    @include md-screen{
        font-size: 54px;
        line-height: 72px;
        padding-bottom: 16px;
    }
}
.collectiondescription{
    h2{
        font-size: 28px;
        line-height: 40px;
    }
    @extend %futurapt-light;

    font-size: 18px;
    line-height: 27px;
    @include md-screen{    
    font-size: 20px;
    
    line-height: 40px;
    }
    small{
        font-weight: 300;
    }
}
.Collectionheroleftcol{
    padding-top: 48px;
    padding-bottom: 48px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    @include md-screen{
        padding-left: 0;
        padding-right: 0;
        text-align: left;
        padding-top: 195px;
        padding-bottom: 112px;
    }
}
.breadcramp-con{
    padding-bottom: 72px;
}
.allheight{
    height: 100%;
 
}
.Collectionherorightcol{
    max-width: 100%;
    overflow: hidden;
    order: -1;
    @include md-screen{
        order: 2;
    }
}
.node-medicalConcerntype .medical-bg ,.node-medicalCategoriestype .medical-bg{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) , rgba(81, 87, 162, 0.65) );
   }
   .medical.type:before{
   background-color: #868cd2;    
  }

.general.type::before {
    background-color: #ffcd00;
}

.general {
    color: #fff;
}

.hero-link {
    color: #fff;
    border: 1px solid #fff;
    @extend %futurapt-bold;
    @include fontStyle(12, 16);
    letter-spacing: 1.2px;
    text-align: center;
    padding: 24px 93px 24px 94px;
    border-radius: 6px;
    text-transform: uppercase;
    margin-top: 40px;
    &:hover {
        color: #132466;
        background: #fff;
        text-decoration: none;
    }
}
.medicalBg{
    .general{
        color: #132466;
    &:before{
        background-color: #868cd2;
    }
    }
}