@import '../typography/typography.scss';
@import '../grid/grid.scss';

.wrapper {
    // padding-bottom: 128px;

    @include lg-screen {
        padding: 32px 0 0;
        // position: relative;
        // &::before {
        //     content: '';
        //     position: absolute;
        //     height: 116px;
        //     width: 116px;
        //     background: #132466;
        //     top: 0;
        //     left: 0;
        // }
        // &::after {
        //     content: '';
        //     position: absolute;
        //     height: 116px;
        //     width: 116px;
        //     background: #ffcd00;
        //     top: 116px;
        //     left: 0;
        // }
    }
}

.title {
    @extend %futurapt-bold;
    @include fontStyle(18, 32);
    padding-bottom: 24px;
    border-bottom: 1px solid #d6d6d6;
    padding-left: 24px;
    position: relative;
    &::before {
        position: absolute;
        content: '';
        height: 8px;
        width: 8px;
        left: 0;
        top: 12px;
        background: #ffcd00;
    }
    @include lg-screen {
        @include fontStyle(24, 40);
        // padding: 200px 0 100px;
        padding-bottom: 40px;
        
        &::before {
            top: 16px;
        }
    }
}

.question {
    @include fontStyle(18, 32);
    @extend %futurapt-medium;
    margin: 19px 0 20px;
    display: inline-block;
    color: #132466;
    padding-right: 41px;
    &:hover {
        text-decoration: none;
        color: #132466;
    }


    @include lg-screen {
        margin: 31px 0 19px ;
        @include fontStyle(28, 40);
        font-family:  futura-pt,   sans-serif;
        font-weight: 300;
        font-style: normal;
    }
}

.question[aria-expanded="true"] {
    margin-bottom: 8px;

    @include lg-screen {
        margin-bottom: 32px;
    }
}

.sign {

}

.qa-wrapper {
    position: relative;
    border-bottom: 1px solid rgba(19, 36, 103, 0.2);
}

.last-section {
    .last-qa-wrapper {
        border-bottom: 0;
    }
}

.answer {
    @include fontStyle(16, 24);
    padding-bottom: 20px;

    a {
        @extend %futurapt-medium;
        color: #132466;
        text-decoration: underline;
        &:hover {
            color: #132466;
        }
    }

    @include lg-screen {
        @include fontStyle(18, 32);
        padding-bottom: 32px;
    }
}


.large-wrapper {
    margin-bottom: 39px;

    @include lg-screen {
        margin-bottom: 55px;
    }
}

.cs-title {
    @include fontStyle(24, 40);
    padding: 13px 0 8px;
}

.cs-text {
    @include fontStyle(18, 32);
    @extend %futurapt-light;

    a {
        color: #132466;
        text-decoration: underline;
        white-space: nowrap;
        &:hover {
            color: #132466;
        }
    }
}

.cs-number {
    white-space: nowrap;
}

.product-page-title {
    @include fontStyle(40, 56);
    @extend %futurapt-light;
    margin: 40px 0 21px;
    text-align: center;

    @include md-screen {
        font-size: 4.5vw;
        line-height: 5vw;
        margin: 5.807vw 0 1.719vw;
    }

    @include lg-screen {
        font-size: 3.333vw;
        line-height: 3.750vw;
    }
    @media (min-width: 1921px) {
        font-size: 64px;
        line-height: 72px;
    }
}