@import '../typography/typography.scss';
@import '../grid/grid.scss';

.footer-section {
    padding-top: 40px;
    padding-bottom: 32px;

    @include lg-screen {
        padding-top: 57px;
        padding-bottom: 72px;
    }
}

.obagi-logo {
    height: 68px;
    width: 68px;
    margin-bottom: 40px;

    @include lg-screen {
        height: 100%;
        width: 100%;
        margin-bottom: 0;
    }
}

.form {



    label {
        width: 100%;
        margin-bottom: 0;
    }

    .form-title {
        @include fontStyle(28, 48);

    }

    .form-subtitle {
        @include fontStyle(18, 32);
        color: #7c858a;
        margin-bottom: 16px;
    }

    .form-box {

        border: 0;
        // border-radius: 4px;
        @include fontStyle(12, 16);
        letter-spacing: 1.2px;
        @extend %futurapt-bold;
        color: #132466;
        opacity: 1;
        padding-bottom: 32px;
        width: 100%;



        @include md-screen {
            border: 0;
            padding-bottom: 0;
            height: 50%;
            width: 65%;
        }


    }

    .form-button {
        width: 100%;
        margin-top: 20px;
        background: #132466;
        color: #ffffff;

        &:hover {
            background: #ffffff;
            color: #132466;
        }

        @include md-screen {
            background: #ffffff;
            color: #132466;
            padding: 16px 24px;
            margin: 13px 16px 16px;
            width: unset;


            &:hover {
                background: #132466;
                color: #ffffff;
            }
        }
        @media only screen and (min-width: 992px) and (max-width: 1200px) {
            width: 100%;
            margin: 0;
        }
    }

    .button-section {
        @include md-screen {
            position: absolute;
            right: 0;
        }

        @media only screen and (min-width: 992px) and (max-width: 1200px) {
            position: unset;
            margin-top: 10px;
        }

    }

    .signup {
        @include md-screen {
            height: 80px;
            width: 100%;
            border: 1px solid #d6d6d6;
            display: flex;
            border-radius: 4px;
            position: relative;

        }

        @media only screen and (min-width: 992px) and (max-width: 1200px) {
            flex-direction: column;
        }
    }

    .input-section {
        width: 100%;
        border: 1px solid #d6d6d6;
        border-radius: 4px;
        padding: 16px 16px 0;

        @include md-screen {
            border: 0;
        }
        @media only screen and (min-width: 992px) and (max-width: 1200px) {
            margin-bottom: 10px;
        }
    }

    .form-email {
        @include fontStyle(12, 16);
        letter-spacing: 1.2px;
        @extend %futurapt-bold;
        color: #132466;
        opacity: 1;
    }
}

.social-media {
    @include md-screen {
        display: flex;
        margin-top: 48px;

        .social-icon {
            height: 64px;
            width: 64px;
            margin-right: 32px;
            text-align: center;
            padding: 21px;


            &:first-child {
                margin-left: 21px;
            }

            a {
                color: #132466;
            }

            .icon {
                height: 21px;
                width: 21px;
            }
        }
    }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .social-icon {
            margin: 0;
            &:first-child {
                margin: 0;
            }
        }
    }
}

.margin {
    margin-bottom: 40px;
}

.vertical-line {
    height: 100%;
    // max-height: 294px;
    width: 1px;
    background: #d6d6d6;
}