@import '../typography/typography.scss';
@import '../grid/grid.scss';

.header {
    position: fixed;
    z-index: 999;
    top: 56px;
    width: 100%;
    background: #132466;

    a:hover {
        text-decoration: none;
    }
}

.nav-container {
    max-height: 100vh;
    overflow-y: auto;


}

.top-nav {
    background: #132466;
    display: flex;
    width: 100%;

    .obagi-logo {
        height: 100%;
        width: 129px;
    }

    // .icons > div + .menu-button[aria-expanded="true"] {
    //     display: none;
    // }
    // .first-icons ~ .menu-button[aria-expanded="false"] {
    //     display: flex;
    // }


    .icons {
        display: flex;
        float: right;
        margin: 24px 0;


        .first-icons {
            display: flex;
        }

        .icon-img {
            height: 20px;
            width: 20px;
            margin-right: 28px;
        }

        .nav-button {
            background: transparent;
            border: 0;


        }

        .menu-button {
            background-image: url('../../images/menu.png');
            background-repeat: no-repeat;
            height: 24px;
            width: 24px;
        }

        .menu-button[aria-expanded="true"] {
            background-image: url('../../images/close.png');
            height: 16px;
            width: 16px;
        }
    }

}

.lower-section {

    padding: 177px 0 37px 24px;

    span {
        margin-right: 34px;

        a {
            color: #132466;
            @include fontStyle (12, 16);
            letter-spacing: 1.2px;
            @extend %futurapt-bold;
        }
    }
}


.category-section {
    padding-bottom: 17px;
    text-align: center;
    background: #132466;

    .category {
        padding: 15px 0;
        border: 1px solid #ffffff;
        @include fontStyle(13, 8);
        letter-spacing: 6px;
        color: #ffffff;
        &:hover {
            text-decoration: none;
        }
    }
}



.navigation-bar-desk {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;

    &:hover {

        .lower-nav {
            background: #ffffff;

            a {
                color: #132466;

                &:hover {
                    // color: #132466;
                    text-decoration: none;
                }
            }

            li {
                ul {
                    li {
                        a {
                            color: #132466;
                        }
                    }
                }
            }
        }

        .upper-nav {
            background: #132466;
        }


    }

    .upper-nav {

        .main-links {
            display: flex;
            padding-left: 41px;
            justify-content: center;
            align-items: center;

            .nav-submenu {
                padding: 18px 30px;
                border: 1px solid #ffffff;
                margin: 24px 20px 24px 0;
                @include fontStyle(16, 12);
                letter-spacing: 6px;
                color: #ffffff;

                &:hover {
                    background: #ffffff;

                    color: #132466;
                    text-decoration: none;


                }
            }
        }
    }

    .logo-section {
        display: flex;
        justify-content: center;
        align-items: center;

        .obagi-logo {
            height: 27px;
            width: 108px;

        }
    }

    .nav-last-section {
        display: flex;
        justify-content: flex-end;

        margin-right: 40px;
        margin-top: 45px;


        button {
            color: #ffffff;
            @include fontStyle(16, 24);
            letter-spacing: 1.6px;
            background: transparent;
            border: 0;
            padding: 0;
            &:hover {
                text-decoration: none;
            }
        }

        .nav-button {
            margin-left: 40px;
        }

        .icon-img {
            height: 20px;
            width: 20px;

        }

        .cart-counter {
            top: 0;
        }
    }
}

.navigation-bar-desk.general-nav {
    position: relative;

    .lower-nav {
        // background: #ffffff;

        a {
            // color: #7c858a;

            &:hover {
                color: #132466;
                text-decoration: none;
            }
        }
    }

    .upper-nav {
        background: #132466;
    }


    

}

.top-styles {
    // position: absolute;
    top: 56px;
}

.cart-wrapper {
    position: relative;

    .cart-counter {
        position: absolute;
        color: #ffffff;
        top: 5px;
        left: 7px;
        font-size: 10px;
    }
}
.overveiw{
    justify-content: space-between;
}
.active-submenu {
    background: #fff;
    color: #132466 !important;
}

.lowerSection{
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 165px;
    a{
        color: #132466;
        font-size: 14px;
        line-height: 16px;
        @extend %futurapt-medium;
 
    }
}
.spacebetween{
    margin-right: 48px;
   img{
       max-width: 24px;
       max-height: 24px;;
       margin-right:12px;
   }
    align-items: center;
    padding-right: 0;
   
        a{
        color: #132466;
        font-size: 14px;
        line-height: 16px;
    }
}

.search-wrapper {
    background: #132466;
    position: fixed;
    top: 56px;
    right: 0;
    left: 0;
    z-index: 99999;

    @include lg-screen {
        position: absolute;
        z-index: 999;
        top: 0;
    }
}

.relative-search {
    position: relative;
}

.search-section {
    display: flex;
    padding: 24px 0;
    align-items: center;
    @include lg-screen {
        padding: 54px 0 34px;
    }
}
.search-icon {
    margin-right: 16px;
    
    @include lg-screen {
        margin-right: 15px;
    }
}
.close-icon {
    margin-left: auto;
}
.search-input {
    line-height: 24px;
    font-size: 18px;
    letter-spacing: 1.8px;
    color: #fff;
    background: transparent;
    width: 100%;
    border: 0;
    margin-right: 16px;
    caret-color:rgba(255, 255, 255, 0.3);

    @include lg-screen {
        font-size: 48px;
        line-height: 64px;
        font-family:  futura-pt,   sans-serif;
        font-weight: 300;
        font-style: normal;

        margin-right: 15px;
    }
}
.close-icon {
    background: transparent;
    border: 0;
}

.search-result-wrapper {
    background: #fff;
    position: absolute;
    z-index: 999;
    top: 78.5px;
    width: 100%;

    @include lg-screen {
        top: 154px;
    }
}

.results {
    padding: 23px 24px 22px;

    @include lg-screen {
        padding: 48px 0 95px;
    }
}