@import '../typography/typography.scss';
@import '../grid/grid.scss';

.header {
    position: fixed;
    z-index: 999;
    top: 56px;
    width: 100%;
    background: #132466;

    a:hover {
        text-decoration: none;
    }
}

.nav-container {
    max-height: 100vh;
    overflow-y: auto;


}

.top-nav {
    background: #132466;
    display: flex;
    width: 100%;

    .obagi-logo {
        height: 100%;
        width: 129px;
    }

    // .icons > div + .menu-button[aria-expanded="true"] {
    //     display: none;
    // }
    // .first-icons ~ .menu-button[aria-expanded="false"] {
    //     display: flex;
    // }


    .icons {
        display: flex;
        float: right;
        margin: 24px 0;


        .first-icons {
            display: flex;
        }

        .icon-img {
            height: 20px;
            width: 20px;
            margin-right: 28px;
        }

        .nav-button {
            background: transparent;
            border: 0;


        }

        .menu-button {
            background-image: url('../../images/menu.png');
            background-repeat: no-repeat;
            height: 24px;
            width: 24px;
        }

        .menu-button[aria-expanded="true"] {
            background-image: url('../../images/close.png');
            height: 16px;
            width: 16px;
        }
    }

}

.lower-section {

    margin: 177px 0 37px 24px;

    span {
        margin-right: 34px;

        a {
            color: #ffffff;
            @include fontStyle (12, 16);
            letter-spacing: 1.2px;
            @extend %futurapt-bold;
        }
    }
}



.navigation-bar-desk {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;

    &:hover {

        .lower-nav {
            background: #ffffff;

            a {
                // color: #7c858a;

                &:hover {
                    // color: #132466;
                    text-decoration: none;
                }
            }
        }

        .upper-nav {
            background: #132466;
        }

    }

    .upper-nav {

        .main-links {
            display: flex;
            padding-left: 41px;
            justify-content: center;
            align-items: center;

            .nav-submenu {
                padding: 18px 30px;
                border: 1px solid #ffffff;
                margin: 24px 20px 24px 0;
                @include fontStyle(16, 12);
                letter-spacing: 6px;
                color: #ffffff;

                &:hover {
                    background: #ffffff;

                    color: #132466;
                    text-decoration: none;


                }
            }
        }
    }

    .logo-section {
        display: flex;
        justify-content: center;
        align-items: center;

        .obagi-logo {
            height: 27px;
            width: 108px;

        }
    }

    .nav-last-section {
        display: flex;
        justify-content: flex-end;

        margin-right: 40px;
        margin-top: 45px;


        a {
            color: #ffffff;
            @include fontStyle(16, 24);
            letter-spacing: 1.6px;

            &:hover {
                text-decoration: none;
            }
        }

        .nav-button {
            margin-left: 40px;
        }

        .icon-img {
            height: 20px;
            width: 20px;

        }

        .cart-counter {
            top: 0;
        }
    }
}

.navigation-bar-desk.general-nav {
    position: relative;

    .lower-nav {
        background: #ffffff;

        a {
            // color: #7c858a;

            &:hover {
                // color: #132466;
                text-decoration: none;
            }
        }
    }

    .upper-nav {
        background: #132466;
    }


}

.top-styles {
    // position: absolute;
    top: 56px;
}

.cart-wrapper {
    position: relative;

    .cart-counter {
        position: absolute;
        color: #ffffff;
        top: 5px;
        left: 7px;
        font-size: 10px;
    }
}
