@import '../typography/typography.scss';
@import '../grid/grid.scss';

h1 {
    margin-bottom: 0;
}

.hero-box {  
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    background: rgba(19, 36, 102, 0.2);
    border: 1px solid rgba(19, 36, 102, 0.2);
    
    &:hover {
        background: rgba(19, 36, 102, 0.2);
        border: 1px solid rgba(19, 36, 102, 0.2);
    }

    @include md-screen {
        margin-top: 0;
        height: 100%;
        background: transparent;
        border: 1px solid #fff;
    }

}


.logo {
    color: #fff;
    margin: 40px 0 15px;
    position: relative;
    z-index: 20;

    @include lg-screen {
        margin: 88px 0 25px;
    }
}

.title {
    @include fontStyle(40, 48);
    padding: 0 30px;
    text-align: center;
    @extend %futurapt-book;

    @include lg-screen {
        @include fontStyle(52, 64);
        font-family:  futura-pt,   sans-serif;
        font-weight: 300;
        font-style: normal;
        padding: 0 20px;
        max-width: 386px;
        margin: 0 auto;
    }
}

.subtitle {
    @include fontStyle(18, 24);
    max-width: 284px;
    margin: 0 auto;
    padding: 1px 0 15px;

    @include lg-screen {
        padding: 16px 0 32px;
        @include fontStyle(18, 32);
        max-width: 424px;
        margin: 0 auto;
    }
}

.link-section {
    margin: auto 41px 41px 41px;

    @include lg-screen {
        margin: auto 0 96px;
    }
}

.link {
    padding: 28px 47px;
    color: #ffffff;
    border: 1px solid #ffffff;
    &:hover {
        border: 1px solid #d6d6d6;
        background: #ffffff;
        color: #132466;
    }

    @include lg-screen {
        padding: 28px 62px;
    }
}