@import '../typography/typography.scss';
@import '../grid/grid.scss';

.subtitle {
    padding: 80px 0 7px;

    @include lg-screen {
        padding: 264px 0 40px;
    }
}

.medical.subtitle:before {
    background-color: #868cd2;
}

.title {
    @extend %futurapt-light;
    font-size: 40px;
    padding-right: 12px;
    padding-top: 16px;
    sup {
        font-size: 35%;
        top:-1.5em;
    }
    @include lg-screen {
        padding-top: 0;
        padding-right: 0;
        @include fontStyle(64, 72);
    }
}

.description {
    @include fontStyle(18, 32);
    padding-top: 16px;
    @include lg-screen {
        padding-bottom: 0;
        @include fontStyle(24, 40);
        font-family:  futura-pt,   sans-serif; 
        font-weight:  300; 
        font-style:  normal;
    }
}
.link-section {
    margin: 40px 0 48px;

    @include lg-screen {
        margin: 40px 0 352px;
    }
}

.link {
    padding: 24px 53px;
}

.text-wrapper-clinical {
    mix-blend-mode: multiply;
    background-image: linear-gradient(to top, rgba(91, 140, 164, 0) 42%, rgba(91, 140, 164, 0.18));

    @include lg-screen {
        mix-blend-mode: multiply;
        // background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 50%, rgba(91, 140, 164, 0.75));
        background-image: none;
    }
}

.text-wrapper-medical {
    mix-blend-mode: multiply;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 42%, rgba(81, 87, 162, 0.65));

    @include lg-screen {
        mix-blend-mode: multiply;
        // background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 63%, rgba(81, 87, 162, 0.65));
        background-image: none;
    }
}

// .slide-wrapper {
//     display: flex;
//     flex-direction: column;

//     @include lg-screen {
//         flex-direction: row-reverse;
//     }
// }

.blue-section {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 56px 0 56px 56px;
    background: #132466;
    width: 100%;
}

.slider-img {
    position: relative;
    height: 100%;
    position: relative;
    overflow: hidden;
    min-height: 300px;
 img{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    height: 100%;
    width: auto;
 }

 @include lg-screen {
     z-index: 2;
 }
}

.slider-img > div {
    height: 100%;
}

.slider-logo {
    position: absolute;
    // padding: 34px 40px 40px 34px;
    bottom: -6.5px;
    right: -234px;
}

// .clinical-logo {
//     background: #44c4d9;
// }

// .medical-logo {
//     background: #8389cd;
// }

.row-wrapper {
    position: relative;
    z-index: 9;
}
.yellow-square {
    position: absolute;
    height: 40px;
    width: 40px;
    bottom: 0;
    right: -274px;
}

.clinical-square {
    background: #ffcd00;
}

.medical-square {
    background: #00c7d8;
}

.mob-image {
    height: auto;
    width: 100%;
}

.here {
    position: absolute;
    bottom: 0;
}

.slide-down {
    position: fixed;
    bottom: 100px;
    background-color: #132466;
    height: 48px;
}
