@import '../typography/typography.scss';
@import '../grid/grid.scss';

.subtitle {
    padding: 41px 0 7px;

    @include lg-screen {
        padding: 264px 0 40px;
    }
}

.title {
    @extend %futurapt-light;
    font-size: 40px;

    @include lg-screen {
        @include fontStyle(64, 72);
    }
}

.description {
    @include fontStyle(18, 27);

    @include lg-screen {
        @include fontStyle(24, 40);
        font-family:  futura-pt,   sans-serif; 
        font-weight:  300; 
        font-style:  normal;
    }
}
.link-section {
    margin: 33px 0 48px;

    @include lg-screen {
        margin: 40px 0 192px;
    }
}

.link {
    padding: 24px 53px;
}

.text-wrapper {
    mix-blend-mode: multiply;
    background-image: linear-gradient(to top, rgba(91, 140, 164, 0) 42%, #5b8ca4);

    @include lg-screen {
        mix-blend-mode: multiply;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 50%, #5b8ca4);
    }
}

// .slide-wrapper {
//     display: flex;
//     flex-direction: column;

//     @include lg-screen {
//         flex-direction: row-reverse;
//     }
// }

.blue-section {
    padding: 56px 0 56px 56px;
    background: #132466;
    width: 100%;
}

.slider-img {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        height: 40px;
        width: 40px;
        background: #ffcd00;
        bottom: 0;
        z-index: 999;
        left: 234px;
    }
}
.slider-logo {
    position: absolute;
    background: #44c4d9;
    padding: 34px 40px 40px 34px;
    bottom: 0;
    left: -40px;
}