@import '../typography/typography.scss';
@import '../grid/grid.scss';

.hero-style {
    color: #fff;
    text-align: center;
    // background-repeat: no-repeat;
    background: no-repeat center center;
    background-size: cover;
    padding-bottom: 65px;
    position: relative;

    @include lg-screen {
        // padding-left: 196px;
        background: no-repeat center center fixed;
        padding-bottom: 180px;
        position: relative;
        margin-bottom: 308px;
        &::after {
            height: 196px;
            width: 197px;
            content: '';
            background: #44c4d9;
            position: absolute;
            left: 0;
            bottom: -196px;
            z-index: 99;
        }
    }
}

.box-margin {
    margin-bottom: 115px;

    @include md-screen {
        margin-bottom: 0;
    }
}


.header {
    @include fontStyle(40, 56);
    @extend %futurapt-light;
    margin: 248px 0 8px;


    @include lg-screen {
        margin: 232px 0 72px;

    }
}

.subtitle {
    @include fontStyle(18, 24);
    margin-bottom: 71px;

    // @include lg-screen {
    //     display: none;
    // }
}

.scroll-button {

    @include lg-screen {
        height: 48px;
        width: 48px;
        position: absolute;
        bottom: 56px;
        left: 56px;
    }
}