@import '../typography/typography.scss';
@import '../grid/grid.scss';

.hero-style {
    color: #fff;
    text-align: center;
    // background-repeat: no-repeat;
    background: no-repeat center center;
    background-size: cover !important;
    position: relative;
    padding-bottom: 65px;


    @include md-screen {
        // padding-left: 196px;
        background: no-repeat center center fixed;
        margin-bottom: 308px;
        padding-bottom: 0;

   
    }
}

@media (max-width: 767px) {
    .hero-style {
        margin: 0;
        height: 100%;
    }
}

.container-wrapper {
    padding-bottom: 0;
    margin-bottom: 142px;
    position: relative;

    
    &::after {
        height: 99px;
        width: 103px;
        content: '';
        background: #44c4d9;
        position: absolute;
        left: 0;
        bottom: -99px;
        z-index: 99;
    }

    @include md-screen {
        padding-bottom: 180px;
        margin-bottom: 0;
        &::after {
            height: 196px;
            width: 197px;
            content: '';
            background: #44c4d9;
            position: absolute;
            left: 0;
            bottom: -196px;
            z-index: 99;
        }
    }
}

// .box-margin {
//     margin-bottom: 40px;
//     @include md-screen {
//         margin-bottom: 0;
//     }
// }


.header ,.header h1{
    @include fontStyle(32, 48);
    text-align: center;
    @extend %futurapt-light;
    margin: 64px 0 8px;


    @include lg-screen {
        margin: 232px 0 30px;
        @include fontStyle(40, 56);
    }
}

.subtitle h2, .subtitle{
    @include fontStyle(18, 24);
    margin-bottom: 15px;
    @extend %futurapt-book;

    @include lg-screen {
        @include fontStyle(20, 32);
    }

}
.subtitle {

    @include lg-screen {
        max-width: 870px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 56px;

    }
}

.scroll-button {

    @include lg-screen {
        height: 48px;
        width: 48px;
        position: absolute;
        bottom: 56px;
        left: 56px;
    }
}