@import '../typography/typography.scss';
@import '../grid/grid.scss';

.row-margin {
    margin: 0;
}

.subtitle {
    @include fontStyle(18, 24);
    @extend %futurapt-bold;
    text-align: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin: 36px 0 10px;

    @include lg-screen {
        margin: 72px 0 24px;
    }
}

.logo {
    margin: 0 auto;
    margin-bottom: 41px;
    text-align: center;
    @include fontStyle(19, 24);
    letter-spacing: 11px;
    padding-left: 10px;
    @include md-screen {
        @include fontStyle(20, 24);
        letter-spacing: 16px;
        padding-left: 15px;
    }

    @include lg-screen {
        margin-bottom: 72px;
    }
}


.image-boxes {
    @include md-screen {
        
    }
    @include lg-screen {

    }
}

.boxes {
    border: solid 1px #132466;
    border-radius: 6px;
    margin-bottom: 31px;
    padding: 0;
    &:last-child {
        margin-bottom: 0;
    }
    @include md-screen {
        margin-bottom: 0;
        margin-right: 15px !important;
        &:last-child {
            margin-right: 0 !important;
        }

    }
    @include lg-screen {
        margin-right: 30px !important;
    }

    @include md-screen-only {
        &:first-child {
            margin-left: 50px;
        }
    }
}

.box-image {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;


    @include lg-screen {

    }
}