@import '../typography/typography.scss';
@import '../grid/grid.scss';

.row-margin {
    margin: 0;
}

.col-margin {
    margin-bottom: 31px;
    &:last-child {
        margin-bottom: 0;
    }
}

.col-padding {
    @include md-screen-only {
        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.subtitle {
    @include fontStyle(18, 24);
    @extend %futurapt-bold;
    text-align: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin: 36px 0 10px;

    @include lg-screen {
        margin: 72px 0 24px;
    }
}


.image-boxes {
    margin-bottom: 49px;
    margin-top: 119px;
    @include lg-screen {
        margin-bottom: 224px;
        margin-top: 224px;
    }
}

.boxes {
    border: solid 1px #132466;
    border-radius: 6px;


    @include lg-screen {
        margin-right: 30px !important;
    }

}

.box-image {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;


    @include lg-screen {

    }
}