@import '../typography/typography.scss';
@import '../grid/grid.scss';
.ingredientcontent{
    padding-top: 32px;
    padding-bottom: 32px;
      @include md-screen{
        padding-top: 112px;
        padding-bottom: 112px;
    }
    background-color: #44c4d9;
}
.expand{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    @extend %futurapt-bold ;
    color:#fff;
    align-items: center;
    text-transform: uppercase;
    display: inline-flex;
    margin-top: 35px;
    padding-left: 40px;
    position: relative;
    
    &:hover {
        color: #fff;
        text-decoration: none;
    }
    @include md-screen{
        margin-top: 40px;
    }
    img{
        padding-right: 16px;
    }
}

.expand[aria-expanded="true"] {
    &::before {
        background-image: url('../../images/product-images/Minus-1.png');
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        left: 0;
        // top: 32px;              
        background-repeat: no-repeat;
        transition: all ease 300ms;
    }
}

.expand[aria-expanded="false"] {
    &::before {
        background-image: url('../../images/product-images/plus-white.svg');
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        left: 0;
        // top: 32px;              
        background-repeat: no-repeat;
        transition: all ease 300ms;
    }
}

.ingredienthead{
    color: #fff;
    display: none;
    @include md-screen {
        display: block;
    }
    li{
        font-size: 18px;
        line-height: 32px;
        color: #fff;
    }
}
.ingredientimagehead{
    display: block;
   
    @include md-screen {
        margin-bottom: 24px;
        display: none;
    }
}
.ingredientcontent p {
    color: #fff;

    margin-top: 8px;
}
.ingredientcontent .ingredienttitle{
    margin-top: 20px;
    @extend %futurapt-bold ;
    @include md-screen {
        margin-top: 40px;  
    }
}
.ingredientcontent .ftitle{
    margin-top: 28px;
    @include md-screen {
        margin-top: 40px;  
    }
}
.ingredientcontent img{
    max-width: 100%;
}
.ingredientimagehead{
    font-size: 48px;
    line-height: 56px;
    color: #fff;
}
.ingredientorder{
    order: -1;
    @include md-screen {
        order: 0;
    }
}
.leftcol {
    margin-top: 54px;
    @include md-screen {
        margin-top: 54px;
    }
    p {
        font-size: 18px;
        line-height: 32px;
    }
}