@import '../typography/typography.scss';
@import '../grid/grid.scss';
body {
    color: #132466;
}

p {
    margin-bottom: 0;
}

.container-fluid {
    max-width: 1920px;
}

.logo {
    margin: 0 auto;
    margin-bottom: 41px;
    text-align: center;
    text-transform: uppercase;
    @include fontStyle(19, 24);
    letter-spacing: 11px;
    padding-left: 10px;

    @include lg-screen {
        @include fontStyle(20, 24);
        letter-spacing: 16px;
        padding-left: 15px;
        margin-bottom: 72px;
    }
}

.title {
    @include fontStyle(52, 64);

    @include lg-screen {
        @include fontStyle(72, 88);
    }
}

.subtitle {
    @extend %futurapt-bold;
    @include fontStyle(16, 24);
    letter-spacing: 1.6px;

    &::before {
        width: 12px;
        height: 12px;
        margin-right: 16px;
        background: #44c4d9;
        content: '';
        display: inline-block;
    }
}

.description {
    @include fontStyle(18, 27);

    @include lg-screen {
        @include fontStyle(28, 48);
    }
}

.button-link {
    border-radius: 6px;
    border: solid 1px #132466;
    display: block;
    text-align: center;
    color: #132466;
    letter-spacing: 1.2px;
    padding: 20px 65px;
    text-transform: uppercase;

    @extend %futurapt-bold;
    @include fontStyle(12, 16);


    &:hover {
        text-decoration: none;
        color : #fff;
        background: #132466;
        
    }

    @include md-screen {
        display: inline-block;
    }

    @include lg-screen {
        padding: 15px 25px;
    }
    
    @include xl-screen {
        padding: 28px 92px;
    }
    

}