@import '../typography/typography.scss';
@import '../grid/grid.scss';

body {
    color: #132466;
    position: relative;
}

p {
    margin-bottom: 0;
}

.container-fluid {
    max-width: 1920px;
}

.col-padding {
    padding: 0;
}


.logo {
    margin: 0 auto;
    margin-bottom: 41px;
    text-align: center;
    text-transform: uppercase;
    @include fontStyle(19, 24);
    letter-spacing: 11px;
    padding-left: 10px;

    @include lg-screen {
        @include fontStyle(20, 24);
        letter-spacing: 16px;
        padding-left: 15px;
        margin-bottom: 72px;
    }
}

.title {
    @include fontStyle(52, 64);

    @include lg-screen {
        @include fontStyle(72, 88);
    }
}

.subtitle {
    @extend %futurapt-bold;
    @include fontStyle(16, 24);
    letter-spacing: 1.6px;
    text-transform: uppercase;

    &::before {
        width: 12px;
        height: 12px;
        margin-right: 16px;
        background: #44c4d9;
        content: '';
        display: inline-block;
    }
}

.description {
    @include fontStyle(18, 27);

    @include lg-screen {
        @include fontStyle(28, 48);
    }
}

.button-link {
    border-radius: 6px;
    border: solid 1px #132466;
    display: block;
    text-align: center;
    color: #132466;
    letter-spacing: 1.2px;
    padding: 20px 65px;
    text-transform: uppercase;
    background: transparent;

    @extend %futurapt-bold;
    @include fontStyle(12, 16);


    &:hover {
        text-decoration: none;
        color: #fff;
        background: #132466;

    }

    @include md-screen {
        display: inline-block;
    }

    @include lg-screen {
        padding: 15px 25px;
    }

    @include xl-screen {
        padding: 28px 92px;
    }


}

.footer-menu {

    ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        li a {
            @extend %futurapt-bold;
            @include fontStyle(14, 16);
            color: #132466;

            text-decoration: none;
        }

        .submenu {
            padding-left: 0;
        }

        .submenu li {
            margin-bottom: 8px;

            &:first-child {
                margin-top: 19px;
            }
            &:last-child {
                margin-bottom: 0;
            }

            a {
                @extend %futurapt-book;
                @include fontStyle(18, 32);
                color: #7c858a;
            }
        }
    }


}

footer .form-group {
    margin-bottom: 0;
}

.nav-mobile {
    background: #132466;

    ul {
        padding: 0;
        width: 100%;
    }

    ul li {
        list-style: none;

        a {
            color: #132466;
            background: #fff;
            @include fontStyle(16, 24);
            letter-spacing: 1.6px;
            padding: 21px 0 16px 25px;
            width: 100%;
            display: inline-block;

            position: relative;

            &::after {
                position: absolute;
                content: '';
                width: 10px;
                height: 4px;
                left: 20px;
                top: 34px;
                background-image: url('../../images/path-copy.png');
                right: 26px;
                top: 36px;
                left: unset;
            }

            &.collapsed {
                color: #fff;
                background: #132466;

                &::after {
                    background-image: url('../../images/path-copy-down.png');
                }
            }

        }

        &:first-child,
        &:nth-child(2) {

            a {
                color: #fff;
                background: #132466;
                @include fontStyle(19, 24);
                letter-spacing: 7px;
                position: relative;
                padding-bottom: 28px;
                padding-top: 26px;
                padding-left: 56px;

                &::after {
                    position: absolute;
                    content: '';
                    width: 20px;
                    height: 10px;
                    left: 20px;
                    top: 34px;
                    background-image: url('../../images/small-left.png');

                }

                &.collapsed {
                    padding-left: 25px;

                    &::after {
                        background-image: url('../../images/path-copy-2.png');
                        left: unset;
                        right: 26px;
                        top: 36px;
                        width: 6px;
                        height: 8px;

                    }


                }


            }



            .submenu {
                background: #132466;

                li {
                    a {
                        color: #132466;
                        background: #fff;
                        padding-top: 17px;
                        padding-bottom: 17px;

                        &:first-child {
                            padding-top: 25px;

                        }

                        &:first-child,
                        &:nth-child(2) {
                            &::after {
                                position: absolute;
                                content: '';
                                width: 10px;
                                height: 4px;
                                left: 20px;
                                top: 34px;
                                background-image: url('../../images/path-copy.png');
                                right: 26px;
                                top: 36px;
                                left: unset;
                            }

                            &.collapsed {

                                &::after {
                                    background-image: url('../../images/path-copy-down.png');
                                }
                            }
                        }

                    }

                    a.collapsed {
                        color: #fff;
                        background: #132466;
                    }

                    .single-tab {
                        background: #132466;
                        color: #fff;
                    }
                }


                .submenu {
                    background: #fff;

                    li {
                        a {
                            background: #fff !important;
                            color: #132466 !important;
                            padding-top: 24px !important;

                            &:first-child {
                                padding-top: 7px !important;
                            }
                        }

                        .single-tab {
                            background: #ffffff;
                            color: #132466;
                        }
                    }
                }
            }


        }

        &:first-child {
            margin-bottom: 0;

            a {
                border-top: 1px solid #979797;
                border-bottom: 1px solid #979797;

                &::before {
                    position: absolute;
                    content: '';
                    width: 4px;
                    height: 100%;
                    background: #868cd2;
                    top: 0;
                    left: 0;
                    z-index: 99;

                }
            }

            a.collapsed {
                border-bottom: 0;
            }

        }

        &:nth-child(2) {

            a {
                border-top: 1px solid #979797;
                border-bottom: 1px solid #979797;

                &::before {
                    position: absolute;
                    content: '';
                    width: 4px;
                    height: 100%;
                    background: #44c4d9;
                    top: 0;
                    left: 0;
                }
            }

        }


    }

    .submenu {

        .submenu {
            li {
                a {
                    padding-left: 40px;
                }
            }

        }

        li {
            border: 0 !important;

            &::before {
                position: unset !important;
                content: none !important;
                width: unset !important;
                height: unset !important;
                background: unset !important;
                top: unset !important;
            }

            a {
                padding: 24px 0 24px 25px !important;
                font-size: 16px !important;
                line-height: 24px !important;
                letter-spacing: 0 !important;
                border: 0 !important;
                color: #132466;
                background: #fff;

                &::before {
                    position: unset !important;
                    content: none !important;
                    width: unset !important;
                    height: unset !important;
                    background: unset !important;
                    top: unset !important;
                }

                &.collapsed {
                    background: #132466;
                    color: #fff;
                }
            }

            &:first-child {
                a {
                    padding-top: 8px;
                }
            }

            .single-tab {
                background: #ffffff;
                color: #132466;
            }
        }

    }

    .submenu.collapsing,
    .submenu.show {
        li {
            a {}
        }
    }

    .single-tab {
        background: #132466;
        padding-left: 25px !important;
        color: #fff;

        &::after {
            position: unset !important;
            width: unset !important;
            height: unset !important;
            left: unset !important;
            top: unset !important;
            right: unset !important;
            background-image: unset !important;
        }
    }

}

.navbar {
    padding: 0;
}

.btn-link.collapsed {

    background-color: #fff !important;

    color: #132466 !important;


}

.card-body {
    padding-top: 40px;

    @include md-screen {
        padding-bottom: 0;
        padding-left: 0;
    }
}

.navbar-toggler {
    padding: 0;
}

.main-nav-containers {
    box-shadow: 0 4px 0 0 rgba(54, 75, 95, 0.15);
    transform: translate(-50%, 0);
    position: absolute;
    background: #fff;
    width: 100%;
    flex-wrap: wrap;
    left: 50%;
    max-width: 1532px;
}

.nav-container-desk {
    margin: 0;
    padding: 0 16px 16px;
    position: relative;
    flex: 1;
 

    &:after {
        position: absolute;
        content: '';
        height: 64px;
        width: 64px;
        background: #fff;
        bottom: 0;
        right: 0;
    }

    .nav-title-desk {
        @include fontStyle (24, 40);
        padding-left: 40px;
        padding-top: 48px;
        padding-bottom: 8px;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            height: 8px;
            width: 8px;
            top: 64px;
            left: 16px;
            background: #132466;
        }
    }

    .nav-subtitle-desk {
        @include fontStyle(16, 24);
        color: #7c858a;
        padding: 0 16px 32px;
    }

    .nav-arrow-desk {
        position: absolute;
        bottom: 28px;
        right: 23px;
        z-index: 9999;
        width: 16px;
        height: 16px;

        // margin: 28px 24px;
        // img {
        //     width: 16px;
        //     height: 16px;

        // }
    }

    .nav-title-img {
        margin: 32px 33px 33px;
    }
}

// .nav-single-container {
//     .nav-container-desk {
//         max-width: 100%;
//         // max-width: unset;
//     }

//     .nav-subtitle-desk {
//         padding-bottom: 56px;
//     }
// }



.nav-desk {
    width: 100%;

    ul {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: center;
        margin-bottom: 0;
        padding-left: 0;
        position: relative;


        li {
            a {
                padding: 20px 40px;
                display: inline-block;
                color: #ffffff;
                @include fontStyle(16, 24);
                letter-spacing: 1.6px;

                &:hover {
                    text-decoration: none;
                }
            }
            &:hover div {
                display: block;
            }

            div {
                display: none;
                &.dropdown-menu {
                    font-size: unset;
                    color: unset;
                    text-align: unset;
                    min-width: unset;
                    padding: unset;
                    list-style: unset;
                    background-clip: unset;
                    border: unset;
                    margin: unset;
                    border-radius: unset;

                    &.quadraple-container {
                            // left: 35%;
                            // transform: translate(-35%, 0);
                    }
                }

            }
            
        }

    }




}


.pathtitle{
    font-size: 16px;
    line-height: 24px;
    @extend %futurapt-book;
    padding-bottom: 12px;
    padding-left: 24px;
    @include md-screen {
        padding-left: 40px;
        padding-bottom: 64px;
    }
  

}
.nodeMedical {
    color: #132466;
}
