@import '../typography/typography.scss';
@import '../grid/grid.scss';

.header-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 28px;
}

.header {
    @include fontStyle(18, 32);
    @extend %futurapt-bold;
    color: #132466;
    &:first-child {
        margin-right: 64px;
    }
}

.instruction {
    display: flex;
    justify-content: center;
    @include fontStyle(16, 24);
    margin-bottom: 16px;

    div {
        max-width: 260px;
        text-align: center;
    }

    @include lg-screen {
        div {
            max-width: 100%;
            text-align: left;
        }
    }
}