@import '../typography/typography.scss';
@import '../grid/grid.scss';

.title {
    @extend %futurapt-light;
    @include fontStyle(28, 48);
    text-align: center;
    padding: 20px 0;

    @include lg-screen {
        text-align: left;
        padding: 56px 0 39.5px;
        @include fontStyle(52, 64);
        border-bottom: 1px solid #d6d6d6;
    }
}

.tab-slider-wrapper {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    padding: 15px 0 16px;
    margin-bottom: 24px;
}

.top-half {
    margin-bottom: 24px;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    text-align: center;
    padding: 32px 24.5px 40px;

    @include lg-screen {
        padding: 28px 0 40px;
        margin: 0 0 24px;
    }
}

.top-half-text {
    @extend %futurapt-light;
    @include fontStyle(28, 48);

    @include lg-screen {
        @include fontStyle(28, 48);
        padding-bottom: 12px;
    }
}

.top-half-link {
    @include fontStyle(16, 24);
    text-decoration: underline;
    color: #132466;
    &:hover {
        text-decoration: underline;
        color: #132466;
    }
}

.second-title-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 31.5px;
    margin-bottom: 32px;
}

.second-title {
    @extend %futurapt-light;
    @include fontStyle(32, 48);


}

.orders-count {
    @include fontStyle(16, 24);
}

.bottom-half {
    background-image: linear-gradient(to right, #89b3ea, #73a3e2 36%, #748acb 100%);

    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

    width: 100%;

    padding: 24px 0 0 24px;
    
    color: #ffffff;

    @include lg-screen{
        margin-left: -1px;
        padding: 24px 0 32px 39px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.bottom-title {
    @extend %futurapt-bold;
    @include fontStyle(18, 32);
    
    @include lg-screen {
        padding-bottom: 4px;
    }
    
}

.bottom-text {
    @include fontStyle(18, 32);
    @extend %futurapt-light;
    padding-bottom: 4px;

    @include lg-screen {
        padding-bottom: 8px;

    }
}

.bottom-link {
    @include fontStyle(12, 16);
    @extend %futurapt-bold;
    letter-spacing: 1.2px;
    color: #ffffff;

    &:hover {
        color: #ffffff;
        text-decoration: none;
    }
}

.cs-title {
    margin-top: 112px;
    padding: 39px 0 8px;
    border-top: 1px solid #d6d6d6;

    @include fontStyle(24, 40);

}

.cs-text {
    @include fontStyle(18, 32);
    @extend %futurapt-light;
    margin-right: 24px;
}

.mail {
    color: #132466;
    text-decoration: underline;
    white-space: nowrap;
    &:hover {
        color: #132466;
    }
}

.image {
        top: 40px;
        margin-bottom: 40px;
        right: 12px;
        position: relative;

        @include lg-screen {
            position: unset;
            margin-bottom: 0;
        }
}

.address-button {
    display: block;
    width: 100%;
    text-align: center;
    color: #ffffff;
    @extend %futurapt-bold;
    @include fontStyle(12, 16);
    letter-spacing: 1.2px;
    padding: 16px 0;
    background: #132466;
    border-radius: 6px;
    border: 1px solid #132466;
    text-transform: uppercase;
    margin-top: 8px;

    &:hover {
        background: #ffffff;
        color: #132466;
        text-decoration: none;
    }

    @include lg-screen {
        margin: 0;
        padding: 16px 32px;
        width: unset;
        display: inline-block;
    }
}
