@import '../typography/typography.scss';
@import '../grid/grid.scss';

.orders-count {
    @include fontStyle(16, 24);
    padding-bottom: 24px;
}

.table {
    width: 100%;
    border-spacing: 0 16px;
    border-collapse: separate;
    margin: -16px 0;


    
}

.tHead {


}

.table th, table td {
    @include fontStyle(16, 24);
    @extend %futurapt-book;
    height: 100%;

}

.table th {
    padding: 16px 24px;
    background: #f8f8f8;
}

.table td {
    padding: 24px;
    border: 1px solid #d6d6d6;
    border-right: 0;
    border-left: 0;
}

.table td:nth-last-child(2) {
    @extend %futurapt-bold;
    @include fontStyle(12, 16);
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.table td:last-child {
    background-image: url('../../images/path-copy.png');
    background-repeat: no-repeat;
    background-position: center;
    // transform: rotate(90deg);
    // transition: all ease 300ms;
}


td:first-child{
    border-left: 1px solid #d6d6d6;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

td:last-child {
    border-right: 1px solid #d6d6d6;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

