@import '../typography/typography.scss';
@import '../grid/grid.scss';

.order-details-wrapper {
    
    @include lg-screen {
        margin-bottom: 72px;
    }
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-right: 10px;
    position: relative;

    @include lg-screen {
        margin-top: 56px;
        padding-right: 0;
    }
}

.heading {
    @extend %futurapt-light;
    @include fontStyle(28, 48);

    @include lg-screen {
        @include fontStyle(52, 64);
    }
}

.account-link {
    @include fontStyle(14, 16);
    text-decoration: underline;
    color: #132466;

    &:hover {
        color: #132466;
    }

    @include lg-screen {
        @include fontStyle(12, 16);
        letter-spacing: 1.2px;
        text-decoration: none;
        font-family:  futura-pt-bold,   sans-serif; 
        font-weight:  700; 
        font-style:  normal;
        text-align: center;
        padding: 24px 30px;
        border: 1px solid #132466;
        border-radius: 6px;

        &:hover {
            text-decoration: none;
            background: #132466;
            color: #ffffff;
        }
    }
}

.orderNumber {
    @include fontStyle(18, 32);
    @extend %futurapt-light;

    @include lg-screen {
        @include fontStyle(24, 48);
        margin-bottom: 32px;
    }
}

.accordion {
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    margin: 24px 0 25px;
}

.accordionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.itemsCount {
    @extend %futurapt-bold;
    @include fontStyle(16, 24);
}

.accordionButton {
    background: transparent;
    border: 0;
    text-decoration: underline;
    color: #132466;
}


.order-wrapper {

    @include lg-screen {
        border: 1px solid #d6d6d6;
        border-radius: 6px;
    }
}

.details-header {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    padding: 16px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px 24px;

    @include lg-screen {
        border-top: 0;
        margin: 0 0 24px;
    }
}

.details-title {
    @extend %futurapt-bold;
    @include fontStyle(18, 32);
}

.print {
    @include fontStyle(14, 16);
    text-decoration: underline;
    color: #132466;

    &:hover {
        color: #132466;
    }
}

.detail-part {
    margin-bottom: 24px;
    @include fontStyle(16, 24);

    p:first-child {
        padding-bottom: 8px;
    }

    @include lg-screen {
        padding: 0 24px;

    }
}


.warning {
    color: #ff3737;
}

.total-wrapper {
    padding: 24px 0;
    border-top: 1px solid #d6d6d6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include fontStyle(18, 32);

    @include lg-screen {
        margin: 0 24px;
    }

}

.total-price {
    @extend %futurapt-bold;
}

.order-button {
    display: block;
    width: 100%;
    text-align: center;
    color: #ffffff;
    @extend %futurapt-bold;
    @include fontStyle(12, 16);
    letter-spacing: 1.2px;
    padding: 16px 0;
    background: #132466;
    border-radius: 6px;
    border: 1px solid #132466;
    text-transform: uppercase;

    &:hover {
        background: #ffffff;
        color: #132466;
        text-decoration: none;
    }

    @include lg-screen {
        padding: 24px 0;
        display: inline-block;
    }
}

.order-button-section {
    margin-bottom: 24px;

    @include lg-screen {
        margin: 0 24px 24px;
    }
}

.order-arrow {
    position: absolute;
    top: 24px;
    left: -27px;
    background-image: url('../../images/chevron-left-large.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 16px;
    width: 16px;
}

.product-wrapper {

    display: flex;
    align-items: center;
    padding: 24px 15px 24px 0;



    @include lg-screen {
        border: 1px solid #d6d6d6;
        border-radius: 6px;
        padding: 25px 24px 38px;
        margin-bottom: 16px;

        @include fontStyle(16, 24);
    }
}

.product-info-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-left: 16px;

    @extend %futurapt-medium;

    @include lg-screen {
        flex-direction: row;
        padding: 0;
    }
}

.product-image {
    margin-right: 15px;
}

.product-name {

    @include lg-screen {
        font-family:  futura-pt,   sans-serif; 
        font-weight:  400; 
        font-style:  normal;
        max-width: 445px;
        display: flex;
        align-items: center;
        flex: 1;
    }

}

.price-and-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 16px;
}

.product-quantity {


    @include lg-screen {
        margin-left: auto;
        margin-right: 96px;
    }
}

.product-price {

    @include lg-screen {
        margin-right: auto;
    }
}