@import '../typography/typography.scss';
@import '../grid/grid.scss';

.order-wrapper {
    border: 1px solid #d6d6d6;
    border-radius: 6px;

    @include fontStyle(16, 24);
}

.table-header {
    padding: 16px;
    border-bottom: 1px solid #d6d6d6;
    display: flex;
    justify-content: space-between;
}

.rows-wrapper {
    padding: 15px 16px 0;
}

.table-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    align-items: center;
}

.table-row .status {
    @extend %futurapt-bold;
    @include fontStyle(12, 16);
    letter-spacing: 1.2px;
    text-transform: uppercase;
}