@import '../typography/typography.scss';
@import '../grid/grid.scss';
.cardname{
    justify-content: space-between;
    align-items: center;
    padding: 25px 16px 32px 24px;
}
.Cardordering{
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.rxIcon{
max-width: 100%;

}
.rxIconCon{
    width: 52px;
height: 52px;
margin-left: auto;
margin-right: 23px;
margin-top: 16px;
position: absolute;
right: 0;
z-index: 98;
@include lg-screen {
    margin-top: 20px;
    margin-right: 20px;
}
}
.cardname p {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    @extend %futurapt-bold;
}
.bulp img, .bulp > div {
    display: none;
}
.bulp picture img{
    position: unset !important;
    display: block;
}
.bulp{
    margin-left: auto;
}
.productCardHero{
    background-color: #fff;
    height: 100%;
    border-radius: 6px;

    &:hover {
        box-shadow: 0 8px 30px 0 rgba(54, 75, 95, 0.15);
    }  
}
.productCardHero .starspd{
    // padding-left: 16px;
    padding-top: 24px;
}
.productCardHero{
    // padding: 60px 0 0;
    @include lg-screen {
        padding: 0;
    }
}

.productcarddesc{
    padding-top: 16px;
    // padding-left: 16px;
    // padding-right: 16px;
    font-size: 18px;
    line-height: 32px;
    @extend %futurapt-bold;
    a {
        color: #132466;
        &:hover, &:focus {
            color: #132466;
            text-decoration: none;
        }
    }
}
.productcardcon{
    font-size: 16px;
    line-height: 24px;
    @extend %futurapt-book;
    padding-top: 8px;
    // padding-left: 16px;
    padding-bottom: 16px;
    margin-top: auto;
}
.cardimg{
    max-height: 367px;
    width: auto;
}
.cardContainer{
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.price{
    padding-top: 16px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
    @extend %futurapt-bold;
    padding-left: 16px;
}
.addtocart{
    text-align: center;
    @extend %futurapt-bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    color: #fff;
    width: 100%;
    background-color: #132466;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #132466;
    display: inline-block;
    border-radius: 6px;
    text-transform: uppercase;
    transition: all ease 100ms;
    @include lg-screen {
        position: absolute;
        top: 0;
        opacity: 0;
    }
    &:hover {
        text-decoration: none;
        color: #fff;
    }
}
.priceCon:hover {
    .addtocart{
        opacity: 1;
    }
}
.priceCon{
    margin-bottom: 25px;
    position: relative;
    margin-top: auto;

}