@import '../typography/typography.scss';
@import '../grid/grid.scss';

.wrapper {
    display: flex;
    justify-content: space-between;
}

.red {
    background: red;
}
.blue {
    background: blue;
}
.black {
    background: black;
}
.maroon {
    background: darkred;
}
.green {
    background: green;
}
.yellow {
    background: yellow;
}
.gold {
    background: darkgoldenrod;
}
.beige {
    background: beige;
}
.purple {
    background: purple;
}
.grey {
    background: grey;
}
.pink {
    background: pink;
}

.progress-bar {
    width: 100%;
    background: black;
}

.progress {
    width: 75%;
    color: red;
    height: 20px;
}