@import '../typography/typography.scss';
@import '../grid/grid.scss';


.wrapper {
    padding: 94px 0 64px;

    @include lg-screen {
        padding: 112px 0;
    }
}

.title {
    @include fontStyle(40, 56);
    @extend %futurapt-light;
    text-align: center;
    padding-bottom: 24px;

    @include lg-screen {
        @include fontStyle(48, 64);
        padding-bottom: 16px;
    }
}

.review-button {
    width: 100%;
    margin-top: 32px;
    padding: 16px;
    display: flex;
    justify-content: center;

    &:hover {
        background: #fff;
        color: #132466;
    }

    div {
        margin-left: 15px;
    }

    @include  lg-screen {
        width: unset;
        margin: 0;
    }
}

.stars {
    display: flex;
    justify-content: center;
    svg {
        height: 32px;
        width: 30px;
        margin-right: 10px;
    }
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    padding: 24px 0 32px;
    border-bottom: 1px solid #d6d6d6;
    align-items: center;

    @include lg-screen {
        padding: 32px 0 56px;
    }
}

.review-number {
    @include fontStyle(18, 32);
}

.hide {
    @include fontStyle(14, 16);
    text-decoration: underline;
    cursor: pointer;
}

.box-wrapper {
    padding: 48px 0;
    border-bottom: 1px solid #d6d6d6;
    @include fontStyle(16, 24);
}

.box-stars {

    svg {
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }
}

.comment-title {
    @include fontStyle(18, 32);
    @extend %futurapt-bold;
    margin: 8px 0 4px;
}

.comment-details {
    @extend %futurapt-medium;
    margin-bottom: 16px;
}

.no-reviews {
    @include fontStyle(16, 24);
    text-align: center;
    color: #7c858a;
    padding: 16px 0;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
}