@import '../typography/typography.scss';
@import '../grid/grid.scss';

.givepadding {
    padding-top: 40px;
    padding-bottom: 40px;
border-bottom: 1px solid #d6d6d6;
    @include md-screen {
        padding-top: 165px;
        padding-bottom: 175px;
    }
}

.leftcol {
    padding-top: 0;

    @include md-screen {
        padding-top: 35px;
    }
}

.title {
    font-size: 40px;
    line-height: 56px;
    font-weight: 300;

    @include md-screen {
        font-size: 64px;
        line-height: 72px;
    }
}

.desc {
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
    padding-top: 8px;
    padding-bottom: 32px;

    @include md-screen {
        padding-top: 32px;
        padding-bottom: 56px;
        font-size: 24px;
        line-height: 40px;
    }
}

.listTitle {
    font-size: 18px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-top: 36px;
    @include md-screen {
        padding-top: 0;
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 40px;
        font-weight: 500;
    }
}

.list {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

    span {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        display: inline-block;

        display: block;

        @include md-screen {
            font-size: 24px;
            line-height: 70px;
            padding-left: 16px;
        }
    }

    li {
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        padding-left: 50px;
        position: relative;
        padding-top: 10px;
        @include md-screen {
            padding-top: 0;
            padding-left: 0;
            display: flex;
            align-items: center;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            left: 0;

            @include md-screen {
                position: unset;


            }
        }

        &:nth-child(1)::before {
            background-color: #868cd2;
        }

        &:nth-child(2)::before {
            background-color: #ffcd00;
        }

        &:nth-child(3)::before {
            background-color: #44c4d9;
        }

        &:nth-child(4)::before {
            background-color: #bebebe;
        }
    }
}
.paddingfooter{
    padding-top: 39px;
    padding-bottom: 70px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
    @include md-screen{
        font-size: 24px;
        line-height: 40px;
        padding-top: 160px;
        padding-bottom: 225px;
    }
}
.link{
    a,a:hover{
    font-size: 40px;
    line-height: 56px;
    color: #132466;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    &::after{
        content: "";
        background: url(../../css/mobileArrow.svg);
        width: 19px;
        height: 29px;
        display: block;
        background-repeat: no-repeat;
        transform: rotate(-90deg);
        background-size: contain;
    }
    @include md-screen{
        margin-top: 0;
        font-size: 72px;
        line-height: 82px;
        
    }
}
}

.description {
    text-align: center;
    @include md-screen {
        text-align: left;
    }
}