@import '../typography/typography.scss';
@import '../grid/grid.scss';

.result {
    position: relative;
    
    justify-content: space-between;
    padding: 12px 0 14px;
    border-bottom: 1px solid rgba(19,36,102,0.2);
   
    a {
        @include fontStyle(18, 24);
        // font-family: FuturaPT;
        // font-weight: 300;
        // font-style: normal;

        @extend %futurapt-light;
        color: #132466;

        &:hover {
            text-decoration: none;
        }
    }

    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }

    @include lg-screen {
        padding: 38px 0 6px;
        padding-bottom: 24px;
        a {
            @include fontStyle(32, 48);
        }
        
    }
}

.type-section {
    display: flex;
    @include fontStyle(24, 40);
    align-items: center;
}
.searchlinks{
    display: flex;
    align-items: center;

}
.searchlinks::before {
    content: " ";
    display: block;
    background-repeat: no-repeat;
width: 15px;
background-size: contain;
transform: rotate(-90deg);
height: 20px;
    background-image: url(../../css/mobileArrow.svg);
}
.type-color {
    height: 8px;
    width: 8px;
    background: #868cd2;
    margin-bottom: 16px;
    @include lg-screen {
        height: 12px;
        width: 12px;
        margin-right: 16px;
    }
}

.typeColorclinical{
    height: 8px;
    width: 8px;
    background: #44c4d9;
    margin-bottom: 16px;
    @include lg-screen {
        height: 12px;
        width: 12px;
        margin-right: 16px;
    } 
}
.type-text {
    margin-right: 14px;
    margin-bottom: 16px;
    @include fontStyle(18, 24);
    @extend %futurapt-bold;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}