@import '../typography/typography.scss';
@import '../grid/grid.scss';

.col-padding {
    padding-left: 0;
    
    @include lg-screen {
        padding-right: 0;
    }
}

.row-padding {
    padding-top: 54px;

    @include lg-screen {
        padding-top: 112px;
    }
}

.section {

}

.subtitle {
    margin: 58px 0 17px;

    @include lg-screen {
        margin: 306px 0 32px;
    }
}

.title {
    @include lg-screen {
        font-family:  futura-pt,   sans-serif;
        font-weight: 300;
        font-style: normal;
    }
}

.description {

    margin: 9px 0 24px;

    @include lg-screen {
        margin: 16px 0 0;
    }
    p,h3{
        margin-bottom: 0;
    }
    p{
        padding-bottom: 24px;
        @include lg-screen{
            padding-bottom: 32px;
        }
        
    }
    &:last-child{
        padding-bottom: 0;
    }
    h3{
        padding-bottom: 8px;
        @include lg-screen{
            padding-bottom: 16px;
        }
    }
}

// .link-section {
//     margin: 27px 0 128px;

// }
.link-desk {
    margin: 0 0 40px;

    @include lg-screen {
        margin: 40px 0 130px;
    }
}

.text-section {
    // position: relative;
    // margin-top: 306px;
    // margin-left: 196px;
}

.image {
    // margin-left: -86px;

    // top: 54px;
    // height: 100%;
    // width: 100%;

    @include lg-screen {
        // margin-left: 0;
        // position: relative;
        // z-index: -1;
        // top: -761px;
        // margin-bottom: -761px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .link {
        width: 100%;
    }
}