@import '../typography/typography.scss';
@import '../grid/grid.scss';
.empatyTitle{
    font-size: 28px;
    line-height: 40px;
    @extend %futurapt-light ;
    padding-bottom: 8px;
    color: #132466;
    text-align: center;
    max-width: 265px;
    margin: 0 auto;
    @include lg-screen {
        max-width: 100%;
        padding-bottom: 16px;
    }
}
.empatyLink{
    color: #132466;
    // letter-spacing: 1.2px;
    // @extend %futurapt-bold ;
    font-size: 16px;
    line-height: 24px;
    // width: 100%;
    display: block;
    // padding-top: 24px;
    padding: 0;
    // border-radius: 6px;
    text-align: center;
    // border: 1px solid #132466;
    text-decoration: underline;
    background: transparent;
    border: none;
    margin: 0 auto 40px;
    &:hover {
        color: #132466;
    }
}
.prodThumb{
    width: 100%;
   min-width: 98px;
   min-height: 78px;
      height: 100%;
      @include md-screen{
        min-width: 117px;
        min-height: 88px;
      }
  }
  .BagProductDesc,.cartProductTitle,.cartProductTitle:hover{
      font-size: 14px;
      border: 0;
      text-decoration: none;
      color: #132466;
      line-height: 16px;
      @extend %futurapt-medium ;
      max-width: 250px;
  }
  .subcontainer{
      padding: 24px 16px;
      @include md-screen{
          padding-left: 16px;
          padding-right: 16px;
      }
  }
  .BagProductDesc,.Price{
      font-size: 14px;
      line-height: 16px;
      @extend %futurapt-medium ;
      color: #132466; 
  }
  .left{
      justify-content: space-between;
      align-items: center;
      position: relative;
      overflow: visible;
  }
  .productCounter{
      width: 100%;
    a{
    background-color: transparent;
    box-shadow: none;
    text-decoration: underline;
    font-size: 14px;
    line-height: 16px;
    outline: 0;
    border: 0;
    margin-right: 64px;
    color: #132466;
    }
  }
  .final{
      padding: 16px 23px 0;
      @include md-screen{
          padding: 24px 40px 0;
      }
  }
  .BagProductLink{
      font-size: 12px;
      line-height: 16px;
      background-color: transparent;
      letter-spacing: 1.2px;
      @extend %futurapt-bold ;
      color: #132466;
      border : 1px solid #132466;
      border-radius: 6px;
      padding: 8px 12px;
  }
  .BagProductDesc{
     text-align: left;
      padding-bottom: 18px;
        @include md-screen{
            padding-bottom: 16;
        }
  }
  .selectedproductsCard{
      padding-bottom: 16px;
      align-items: center;
  }
  .prouductCard{
      padding-bottom: 25px;
      padding-top: 25px;
      margin-bottom: 15px;
      background-color: #ffffff;
  }
 
.actions{
    background-color: transparent;
}
.shoppingBag{
    font-size: 18px;
    line-height: 32px;
    color: #132466;
    @extend %futurapt-bold ;
}
.viewcart{
    background-color: transparent;
    box-shadow: none;
    text-decoration: underline;
    font-size: 14px;
    line-height: 16px;
    outline: 0;
    border: 0;
    margin-right: 64px;
    color: #132466;

    &:hover {
        color: #132466;
    }
  }
  .removebtn{
      font-size: 14px;
      line-height: 16px;
      color: #132466;
      text-decoration: underline;
      background-color: transparent;
      border: 0;
  }
 
  .Subtotal{
      font-size: 16px;
      line-height: 24px;
      color: #132466;
      @extend %futurapt-bold ;
  }
  .total{
    border-top: 1px solid #d6d6d6;
      padding-top: 24px;
      padding-bottom: 24px;
  }
  .selectedproductsCard{
      padding-top: 24px;
      padding-left: 24px;
      padding-right: 24px;
      @include md-screen{
        padding-left: 40px;
      }
  }
  .removepadding{
      
  }
  .footnote{
      font-size: 14px;
      line-height: 16px;
      color: #7c858a;
      text-align: center;
      @extend %futurapt-book ;
        padding-top: 16px;
        @include md-screen{
            padding-top: 24px;
        }
  }

.image {
    top: 20px;
    margin-bottom: 40px;
    margin-right: 16px;
    margin-left: -8px;
    position: relative;

    img {
        border-radius: 6px;

    }
    @include lg-screen {
        position: unset;
        margin: 0;
    }
}

.bottom-half {
    background-image: linear-gradient(to right, #89b3ea, #73a3e2 36%, #748acb 100%);

    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

    width: 100%;

    padding: 24px 0 0 24px;
    
    color: #ffffff;
    margin-bottom: 72px;

    @include lg-screen{
        margin-left: -1px;
        padding: 33px 19px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        // margin-bottom: 0;
        margin: 8px 0;
        height: 100%;
        white-space: nowrap;

    }
}

.bottom-title {
    @extend %futurapt-bold;
    @include fontStyle(16, 24);
    
    @include lg-screen {
        padding-bottom: 4px;
    }
    
}

.bottom-text {
    @include fontStyle(16, 24);
    @extend %futurapt-light;
    padding-bottom: 4px;

    @include lg-screen {
        padding-bottom: 8px;

    }
}

.bottom-link {
    @include fontStyle(12, 16);
    @extend %futurapt-bold;
    letter-spacing: 1.2px;
    color: #ffffff;

    &:hover {
        color: #ffffff;
        text-decoration: none;
    }
    a{
        @include fontStyle(12, 16);
        @extend %futurapt-bold;
        letter-spacing: 1.2px;
        color: #ffffff;
    
        &:hover {
            color: #ffffff;
            text-decoration: none;
        }
    }
}
.bottomWrapper {

    @include lg-screen {
        margin-bottom: 146px;
        display: flex;
    }
}

.recommended-wrapper {
    padding: 16px 24px 24px;
    margin: 0 -24px;
    background: #f8f8f8;

    @include lg-screen {
        margin: 0 -40px;
        padding: 24px 40px 40px;
    }
}

.recommended-title {
    @include fontStyle(18, 32);
    @extend %futurapt-bold;

    @include lg-screen {
        padding-bottom: 8px;
    }
}

.product-wrapper {
    display: flex;
    padding: 24px;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(54, 75, 95, 0.15);
    margin-top: 16px;

    @include lg-screen {
        padding: 24px 24px 24px 16px;
    }
}

.small-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mini-wrapper {
    display: flex;
    align-items: center;
    @include fontStyle(14, 16);
    @extend %futurapt-medium;
}

.product-image {
    width: 100%;
    padding-right: 16px;
    
    @include lg-screen {
        padding-right: 23px;
    }
}

.product-name {
    @include fontStyle(14, 16);
    @extend %futurapt-medium;
    padding-bottom: 11px;
    color: #132466;

    &:hover {
        text-decoration: none;
        color: #132466;
    }

    @include lg-screen {
        padding-bottom: 22px;
    }

}

.cart-button {
    text-transform: uppercase;
    margin-left: 22px;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    padding: 7px 12px;
    @include fontStyle(12, 16);
    @extend %futurapt-bold;
    letter-spacing: 1.2px;
    text-align: center;
    background: #ffffff;
    border: 1px solid #132466;
    border-radius: 6px;


    @include lg-screen {
        margin-left: 84px;
    }
}