@import '../typography/typography.scss';
@import '../grid/grid.scss';
.safe{
    margin-bottom: 35px;
    @extend %futurapt-book ;
    font-size: 18px;
    margin-top: 8px;
    line-height: 32px;
    a{
        font-size: 18px;
        line-height: 32px;
        color: #132466;
    }

    @include lg-screen {
        margin-top: 16px;
    }
}
.expand{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    @extend %futurapt-bold ;
    color:#132466;
    align-items: center;
    text-transform: uppercase;
    display: inline-flex;

    @include md-screen{
        margin-bottom: 0;}
}
.expand img {
    padding-right: 16px;
}
.detailHero{
    padding-top: 32px;
    padding-bottom: 32px;
    @include md-screen{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    background-color: #edfafc;
    ul{
        margin-bottom: 0;
    }
}
h1{
    font-size: 64px;
    line-height: 72px;
    @extend %futurapt-light ;
}
.productimage,.slick-initialized
{
    min-width: 1px;
}
.images
{
    min-width: 1px;
}
.read{
    padding-left: 40px;
}
a[aria-expanded="false"] .read-more{
    display: inline-block;
    }
    a[aria-expanded="true"] .read-more{
        display: none;
        }
a[aria-expanded="true"] .read-less{
        display: inline-block;
   }
   a[aria-expanded="false"] .read-less{
    display: none;
}
.expand1,.showFlex{
    display: flex;
    align-items: center;
}
.showFlex {
    font-size: 40px;
    line-height: 56px;
    @extend %futurapt-light;

    @include lg-screen {
        font-size: 64px;
        line-height: 72px;
    }
    
}

.expand1[aria-expanded="false"]{
    &::before {
    background-image: url('../../images/product-images/Plus-1.svg');
    width: 24px;
    content: " ";
    height: 24px;
        display: block;
}
}
.expand1[aria-expanded="true"]{
    &::before {
    background-image: url('../../images/product-images/minus-1.svg');
    width: 24px;
    height: 24px;
    content: " ";
    display: block;
   

}
}
.expand[aria-expanded="false"] {
    &::before {
        background-image: url('../../images/product-images/Plus-1.svg');
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        left: 16px;
        // top: 32px;              
        background-repeat: no-repeat;
        transition: all ease 300ms;
    }
}.expand[aria-expanded="true"] {
    &::before {
        background-image: url('../../images/product-images/minus-1.svg');
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        left: 16px;
        // top: 32px;              
        background-repeat: no-repeat;
        transition: all ease 300ms;
       
    }
}
.expand[aria-expanded="true"]{
   
    margin-bottom: 20px;
}
.expand{
    padding-left: 40px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.2px;
}
.read{
    font-size: 18px;
    line-height: 32px;
}
.flexExpand{
    display: flex;
}