@import '../typography/typography.scss';
@import '../grid/grid.scss';

.wrapper {
    background: rgba(134, 140, 210, 0.1);
    padding-top: 80px;

    @include lg-screen {
        padding-top: 130px;
    }
}

.card-wrapper {
    background: #ffffff;
    border-radius: 6px;
    margin-bottom: 24px;
    // &:last-child {
    //     margin-bottom: 0;
    // }

    @include md-screen {
        margin-bottom: 0;
        height: 100%;
        img {
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
        }

    }

    @include lg-screen {
        position: relative;
        display: flex;
        flex-direction: column;
        &:hover {
            box-shadow: 0 8px 30px 0 rgba(54, 75, 95, 0.15);
            .lower-card {
                background: #868cd2;
                color: #ffffff;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
                .link {
                    color: #ffffff;
                }
            }
        }
    }
}

.last-card-wrappers {

    @include md-screen {
        margin-top: 24px;
    }
    @include lg-screen {
        margin-bottom: 0;
    }
}

.lower-card {
    height: 100%;
}

.subtitle {
    @include fontStyle(12, 16);
    @extend %futurapt-bold;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding: 20px 0 11px 24px;

    @include lg-screen {
        position: absolute;
        padding: 0;
        top: 29px;
        left: 24px;
        z-index: 99;
    }
}

.title {
    @include fontStyle(32, 38);
    @extend %futurapt-light;
    text-transform: uppercase;
    padding-left: 24px;
    margin-bottom: 0;
    @include lg-screen {
        @include fontStyle(32, 48);
        text-align: center;
        padding-left: 0;
        padding-bottom: 56px;
    }
}

.link {
    padding: 24px;

    @include lg-screen {
        text-align: center;
        color: #132466;
        padding: 64px 0 24px;
        display: block;
        @include fontStyle(18, 24);
        letter-spacing: 1.8px;
        font-family:  futura-pt-bold,   sans-serif; 
        font-weight:  700; 
        font-style:  normal;
        text-transform: uppercase;
        &:hover {
            text-decoration: none;
        }
    }
}

.link-section {
    padding: 11px 41px 40px;

}