@import '../typography/typography.scss';
@import '../grid/grid.scss';
.prodThumb{
  width: 100%;
  min-width: 117px;
  min-height: 92px;
    
    height: 100%;
}
.BagContainer{
    // margin-top: 15px;
    padding: 32px 24px 0;
    margin-bottom: 30px;
    @include md-screen{
        // margin-top: 56px;
        padding: 40px 40px 0;
        margin-bottom: 60px;
    }
}
.dinb{
    display: inline-block;
}
.buttonImg{

    
    max-width: 100%;
border: 0;
background: transparent;
padding: 0;
margin-top: 16px;
border-radius: 6px;

// @include md-screen {
//     margin-left: auto;
//     margin-right: auto;
// }
img{
display: block;
// width: 270px;

@include md-screen {
    margin-left: auto;
margin-right: auto;
}
    @include lg-screen{
        width: 100%;
    }
    
    max-width: calc(50% - 4px);
   
}

}

.cards-img {
    margin-top: 16px;
    display: inline-block;
        max-width: 140px;
        margin-right: auto;
        margin-left: auto;
        @include lg-screen{
        max-width: 166px;
        }
}
.bagHead{
    font-size: 28px;
    line-height: 48px;
    margin-bottom: 15px;
    @extend %futurapt-light ;
    text-align: center;
    color: #132466;
    @include md-screen{
        margin-bottom: 56px;
        font-size: 52px;
        line-height: 54px;
    }
}
.prouductBagDesc{
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    @extend %futurapt-medium ;
    color: #132466;
    @include md-screen{
        margin-bottom: 0;
        font-size: 16px;
        line-height: 24px;
    }
}
.prouductPoints{
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
    @extend %futurapt-medium ;
    color: #132466;
    letter-spacing: 1.2px;
    @include md-screen{
        margin-bottom: 0;
    }
}
.bagCount{
    display: flex;
    align-items: center;
    border: 1px solid #132466;
    border-radius: 6px;
    padding: 8px;
    justify-content: space-between;
}
.bagProudctPrice{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    @extend %futurapt-medium ;
}
.premire{

    display: inline-block;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: #f8f8f8;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 16px;
    width: 100%;
text-align: center;
  @include md-screen{
      margin-bottom: 0;
      width: auto;
  }
}

.premirecart{
    margin-bottom: 16px;
    font-weight: 700;
}
.bagCount{
    align-items: center;
}
.action{
    text-decoration: underline;
}
.minus,.add,.action{
    color: #132466;
    &:focus{
        box-shadow: none;
    }
    padding: 0;
 img{
    width: 10px;
    height: 10px;
 }  
}
.ordersummary{
    padding: 16px 24px;
    border:  1px solid #d6d6d6;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;

    
}
.give-border{
    padding-top: 32px;
    padding-bottom: 32px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    @include md-screen{
    padding: 32px 24px 24px 24px;
border: 1px solid #d6d6d6;
border-radius: 6px;
border-top-left-radius: 0;
border-top-right-radius: 0;
border-top: 0;
}
}

.Subtotal,.Shipping,.Coupon,.discoundapplied{
    font-size: 16px;
    line-height: 24px;
    @extend %futurapt-medium ;
     color: #132466;
     justify-content: space-between;
     margin-bottom: 24px;
}

.Shippingbtn,.Couponbtn{
padding: 0;
text-decoration: underline;
@extend %futurapt-medium ;
color: #132466;
}
.BagContainer button{
    color: #132466;
    &:focus,&hover{
    box-shadow: none;
    color: #132466;
}
}
.BagContainer .Checkout{
    letter-spacing: 1.2px;
    @extend %futurapt-bold ;
    background-color: #132466;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    border-radius: 6px;
    border: 1px solid #132466;
    &:hover{
        color: #fff;
        text-decoration: none;
    }
}.Checkout{
    letter-spacing: 1.2px;
    @extend %futurapt-bold ;
    background-color: #132466;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    @include md-screen{
        padding-top: 24px;
        padding-bottom: 24px;
    }
    display: block;
    text-transform: uppercase;
    border-radius: 6px;
    border: 1px solid #132466;
    &:hover{
        color: #fff;
        text-decoration: none;
    }
}
.fixpadding{
    padding: 16px 23px ;
    @include md-screen{
        padding: 24px 40px;
    }
}
.SubtotalFinal{
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 32px;
 
}
.CouponCode label{
    text-transform: uppercase;
}
.couponBorder{
    border-radius: 6px;

  border: solid 1px #d6d6d6;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
}
.bagSelectContainer ,.baginputtext , .CouponCode{
    input{
        width: 100%;
        border: 0;
        padding-left: 16px;
        padding-right: 16px;
    }
label{
    display: block;
    font-size: 12px;
    line-height: 16px;
    @extend %futurapt-bold;
    letter-spacing: 1.2px;
    color: #132466;
    padding-left: 16px;
}
}
.hide{
    display: none;
}
.bagSelectContainer select{
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 16px;
    margin-right: 16px;
    max-width: 90%;
    @extend %futurapt-medium;
    color: #132466;
     -webkit-appearance: none;
    appearance: rgba(68 , 196 , 217 , 0.1) ;;
    -moz-appearance: rgba(68 , 196 , 217 , 0.1) ;;
    text-indent: 1px;
    text-overflow: '';
    border-radius: 6px;
    border: 0;
    background: rgba(68 , 196 , 217 , 0.0) ;;
    position: relative;
    option{
        background-color: #132466;
        color: #fff;
        height: 60px;
    }
   
}

.bagSelectContainer,.baginputtext{
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #d6d6d6;
    padding-top: 16px;
    padding-bottom: 16px;
    
}
.shippingbtn{
    display: none;
    width: 100%;
    background-color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    color: #132466;
    @extend %futurapt-bold;
    border: 1px solid #132466;
    border-radius: 6px;
    margin-top: 8px;
    margin-bottom: 40px;
}
.CouponCode .shippingbtn{
    margin-top: 0;
}

.CouponCode{
    input{
        width: 100%;
        border: 0;
        padding-left: 16px;
        padding-right: 16px;
    }
label{
    display: block;
    font-size: 12px;
    line-height: 16px;
    @extend %futurapt-bold;
    letter-spacing: 1.2px;
    color: #132466;
    padding-left: 16px;
}
}
.FfreeShipping{
    padding: 16px;
    @include fontStyle(16, 24);
    text-align: center;
    background-image: linear-gradient(to right, #89b3ea, #73a3e2 36%, #748acb 100%);
    color: #fff;
    margin:  0;
    
span{
    font-weight: 500;
}
    @include lg-screen {
        padding: 16px 24px;
        margin: 0 0 40px;
    }
}
.free-shipping {
    border-radius: 6px;
    padding: 16px;
    @include fontStyle(18, 32);
    text-align: center;
    background-image: linear-gradient(to right, #89b3ea, #73a3e2 36%, #748acb 100%);
    color: #fff;
    margin: 24px 0;

    @include lg-screen {
        padding: 16px 24px;
        margin: 24px 0 40px;
    }
}
.paytitle{
    font-size: 24px;
    line-height: 40px;
    margin-top: 40px;
    margin-bottom: 8px;
    
}
.paytext{
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
}
.formcont {
    text-align: center;
}
.exclusiveOffertitle{
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin-bottom: 8px;
    color: #fff;
}
.exclusiveOfferdesc{
    font-size: 18px;
    line-height: 32px;
    color: #fff;

}

.cs-number {
    white-space: nowrap;
}

.paypal-imgs {
    display: flex;
}

.paypal-imgs img:first-child {
    margin-right: 8px;
}
.paypal-text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
}