@import url("https://use.typekit.net/iyb6lsw.css");

body {
    @extend %futurapt-book;
}

@mixin fontStyle($size, $lineHeight) {
    font-size: $size + px;
    line-height: $lineHeight + px;
}

%futurapt-book {
    font-family:  futura-pt,   sans-serif; 
    font-weight:  400; 
    font-style:  normal;
}

%futurapt-light {
    font-family:  futura-pt,   sans-serif;
    font-weight: 300;
    font-style: normal;
}

%futurapt-bold {
    font-family:  futura-pt-bold,   sans-serif; 
    font-weight:  700; 
    font-style:  normal;
}
%futurapt-medium {
    font-family:  futura-pt,   sans-serif; 
    font-weight:  500; 
    font-style:  normal;
}


