@import url("https://use.typekit.net/iyb6lsw.css");

body {
    @extend %futurapt-book;
}

@mixin fontStyle($size, $lineHeight) {
    font-size: $size + px;
    line-height: $lineHeight + px;
}

%futurapt-book {
    font-family:  futura-pt,   sans-serif; 
    font-weight:  400; 
    font-style:  normal;
}

%futurapt-light {
    font-family:  futura-pt,   sans-serif;
    font-weight: 300;
    font-style: normal;
}

%futurapt-bold {
    font-family:  futura-pt-bold,   sans-serif; 
    font-weight:  700; 
    font-style:  normal;
}
%futurapt-medium {
    font-family:  futura-pt,   sans-serif; 
    font-weight:  500; 
    font-style:  normal;
}

%futurapt-demi {
    font-family:  futura-pt,   sans-serif; 
    font-weight:  600; 
    font-style:  normal;
}


@font-face {
font-family:"big-caslon-fb";
src:url("https://use.typekit.net/af/f167b1/00000000000000003b9ae11c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/f167b1/00000000000000003b9ae11c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/f167b1/00000000000000003b9ae11c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"big-caslon-fb";
src:url("https://use.typekit.net/af/846c1f/00000000000000003b9ae11f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/846c1f/00000000000000003b9ae11f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/846c1f/00000000000000003b9ae11f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"big-caslon-fb";
src:url("https://use.typekit.net/af/7cf50c/00000000000000003b9ae120/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/7cf50c/00000000000000003b9ae120/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/7cf50c/00000000000000003b9ae120/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"big-caslon-fb";
src:url("https://use.typekit.net/af/b548a1/00000000000000003b9ae121/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/b548a1/00000000000000003b9ae121/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/b548a1/00000000000000003b9ae121/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}