@import 'custom-select.css';

.slick-initialized {
  padding-bottom: 47px;
}

.slick-dots {
  bottom: 0;
}
.productimage .slick-dots {
  bottom: -70px;
}
.slick-dots li button::before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  content: "";
  text-align: center;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
  border-radius: 0;
  display: block;
  background: #132466;
}

.slick-dots li.slick-active button::before {
  background-color: #ffcd00;
  opacity: 1;
}

.slick-next::before {
  content: " ";
}

.slick-prev::before {
  content: " ";
}

.slick-next,
.slick-next:hover,
.slick-next:active,
.slick-next:focus {
  background-image: url(arrow-right.svg);
  width: 80px;
  height: 80px;
  opacity: 1;
  content: " ";
  display: block;
  right: -140px;
}
 .slick-prev,
.slick-prev:hover,
.slick-prev:active,
.slick-prev:focus {
  content: " ";
  background-image: url(arrow-right.svg);
  width: 80px;
  height: 80px;
  opacity: 1;
  display: block;
  transform: translateY(-50%) rotate(180deg);
  left: -140px;
}
.productHero  .slick-next,
.productHero .slick-next:hover,
.productHero .slick-next:active,
.productHero .slick-next:focus {
  background-image: none;
  right: -110px;
  border-radius: 50%;
  box-shadow: 0 4px 15px 0 rgba(54, 75, 95, 0.15);
  width: 55px;
  height: 55px;
}
.productHero .slick-prev,
.productHero .slick-prev:hover,
.productHero .slick-prev:active,
.productHero .slick-prev:focus {
  
  background-image: none;

  border-radius: 50%;
  box-shadow: 0 4px 15px 0 rgba(54, 75, 95, 0.15);
  width: 55px;
  height: 55px;
  left: -110px;
}
.productHero .slick-prev::before{
  content: "➝";
  color: #132466;
}
.productHero .slick-next::before {
  content: "➝";
  color: #132466;
}


.before-after-wrap {
  max-width: 100%;
}
.styles_handle__33IZp::before {
  content: "";
  display: block;
  width: 88px;
  height: 88px;
  background-image: url(../images/product-images/group.svg) !important;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: -43px;
}
.styles_container__2pRR5 {
  margin-left: auto;
  margin-right: auto;
}
.beforeaftercontainer .card-body {
  padding-bottom: 0;
}
.imageContainer.myslickactive {
  border: 2px solid #132466;
}
.hide{
  display: none !important;
}
.mt-24{
  margin-top: 24px;
}
.productview{
 
 
  padding-bottom: 40px;


position: relative !important;
left: 0 !important;
top: 0 !important;
}
@media (max-width: 767px) {
  .productview{
    padding-bottom: 25px;
  }
 .hide-mob{
   display: none !important;
 }
  .tab-slider .slick-dots {
    display: none !important;
  }
  .CollectionListcontainer {
    padding-bottom: 24px;
  }
  .Collectionfiltercontainer {
    padding-bottom: 24px;
  }
  .imageContainer.myslickactive {
    border-radius: 6px;
  }
  .CollectionFooterContainer {
    margin-left: 0;
    margin-right: 0;
  }

  .Collectionherorightcol,
  .collectionFooterleftcol,
  .collectionFooterRightcol {
    padding-left: 0;
    padding-right: 0;
  }
}
.Collectionherorightcol {
  padding-right: 0;
}
.productimage .slick-initialized {
  padding-bottom: 0;
}
.imageContainer .gatsby-image-wrapper {
  max-width: 100%;
}
@media (min-width: 768px) {
  #Showbag {
    z-index: 999999999;
    height: 100vh;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    min-width: 500px;
}
  .tab-slider .slick-active .line-tab{

    margin-bottom: 56px;
  }
  .collapsemobile {
    width: 100%;
  }
}
.readMore {
  display: none;
}
.readLess {
  display: none;
}
.readmorefix[aria-expanded="false"] .readMore {
  display: inline-block;
}
.readmorefix[aria-expanded="true"] .readLess {
  display: inline-block;
}

.slick-initialized .slick-slide {
  display: block;
  padding-left: 5px;
  padding-right: 5px;
}
.productimage .slick-initialized .slick-track {
  display: flex;
  align-items: center;
}
.howrightcol .card-body {
  padding: 0;
}
.modal-body {
  padding-bottom: 0;
}
#mob-navigation{
  z-index: 999999;
}
#desk-navigation {
  z-index: 999999991;
}


@media (max-width: 768px) {
  .show-mob{
    display: block !important;
  }
  .mob-m-0{
    margin-right: 0;
    margin-left: 0;
  }
  .mob-p-0 {
    padding-left: 0;
    padding-right: 0;
  }
.bigSliderContainer .slick-dots{
  bottom: -54px;
}
  .applied .discoundapplied{
  padding-bottom: 25px;
  }
  .productInlineSlider{
    display: none;
  }
  .bigSliderContainer .slick-initialized{
    padding-bottom: 0;
  }
  #Showbag .modal-data{
    margin: 0;
  }

  #Showbag{
    padding-left: 0;
    height: 77vh;
    top: 190px;
  }
  .body-small-margin #Showbag{
    top: 135px;
  }
  #Showbag .empatyState{
    padding-bottom: 135px;
    padding-top: 90px;
  }
 
  #Showbag .modal-header{
border: 0;
  }
  .allcon #accordion {
    padding-left: 0;
    padding-right: 0;
  }
  .video-wrapper {
    min-height: 295px;
  }
  .gatsby-image-wrapper {
    width: 100%;
    height: 100%;
  }

  .mobflexwrap {
    flex-wrap: wrap;
  }
}
#Showbag .modal-footer{
  padding: 24px;
}
.empatyState{
  display: none;
}

.isempty .empatyState{
  display: block;
}
.w100{
  width: 100%;
}

#Showbag .modal-header{
  display: flex;
  background-color: #f8f8f8;
  align-items: center;
}
#Showbag .modal-body {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}
#Showbag{
  padding-right: 0 !important;
}

.bigSliderContainer .slick-dots li.slick-active button::before {
  background-color: #44c4d9;
  opacity: 1;
}

#Showbag img{
  max-width: 100%;
}
#Showbag{
  z-index: 999999999;

  height: 100vh;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  right: 0;
}  
@media (min-width:1024px){
#notification{
  z-index: 999999999;
  position: relative;
}
.body-small-margin #Showbag{
  padding-top: 154px;
}
.desk-pr-0{
  padding-right: 0;
}
.desk-pl-0{
  padding-left: 0;
}
.pt-45{
  padding-top: 45px;
}
.bigSliderContainer .productInlineSlider .slick-prev,.bigSliderContainer .productInlineSlider .slick-prev:hover,
.bigSliderContainer .productInlineSlider .slick-prev:active,.bigSliderContainer .productInlineSlider .slick-prev:focus{
  left: 36%;
  bottom: 54px;
  transform: none;
  top: auto;
  width: 15px;
  height: 15px;
  background-image: url(tringle-arrow.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bigSliderContainer .slick-next,.bigSliderContainer .slick-next:hover,
.bigSliderContainer .slick-next:active,.bigSliderContainer .slick-next:focus{
right: -8%;
}
.bigSliderContainer .slick-prev,.bigSliderContainer .slick-prev:hover,
.bigSliderContainer .slick-prev:active,.bigSliderContainer .slick-prev:focus{
  left: -8%;
}
.tab-slider .slick-dots {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;
  position: relative;
}
.bigSliderContainer .productInlineSlider  .slick-next,
.bigSliderContainer .productInlineSlider  .slick-next:hover,
.bigSliderContainer .productInlineSlider  .slick-next:active,
.bigSliderContainer .productInlineSlider  .slick-next:focus {
  background-image: url(tringle-arrow.svg);
  transform: rotate(180deg);
  right:  40%;
  bottom: 54px;
  top: auto;
  width: 15px;
  height: 15px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bigSliderContainer .productInlineSlider .slick-initialized{
  padding-bottom: 110px;
}
#Showbag .modal-header{
  border: 0;
  padding-right: 40px !important;
  padding-left: 40px !important;
  padding-top: 24px !important;
  padding-bottom: 24px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
}
#Showbag .modal-footer{
  border: 0;
  padding:40px;
  background-color: #f8f8f8;
}

.isempty .modal-body{
  margin-left: 40px;
margin-right: 40px;
text-align: center;
}

#Showbag .modal-header .close{
  padding-left: 32px;
}
#Showbag .empatyState{
  padding-top: 90px;
  
padding-bottom: 134px;

 }

#Showbag .modal-data{
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

}
#Showbag  .modal-content{
  border: 0;
  border-radius: 0;
}
@media (max-width: 1024px) {
 
  .centeralign.d-flex{
    display: none;
  }
  .hide-tabmob{
    display: none;
  }
  .mobdcol {
    flex-direction: column;
  }
}
.RemoveBag,.Showshipping .ShowBag,.showinfp{
  display: none !important;
}
.Showshipping .RemoveBag,.Showshipping .showinfp{
  display: block !important;
}
.removeCoupon ,.showCoupon .addCoupon ,.CouponCode , .aplliedDiscound,.applied .addCoupon, .discoundapplied {
  display: none !important;
}
.addCoupon,.showCoupon .removeCoupon ,.showCoupon .CouponCode,.applied .aplliedDiscound{
  display: block !important;
}
.applied .discoundapplied{
  display: flex !important;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 33px;
}
.applied .Coupon {
  border: 0;
  margin-bottom: 24px;
  padding-bottom: 0;
}
.showCoupon .Coupon {
  padding-bottom: 16px;
  border: 0;
  margin-bottom: 0;
}

.Showshipping .Coupon{
  padding-top: 23px;
  padding-top: 35px;
  border-top:1px solid #d6d6d6;
}
@media (min-width: 768px) {
  .howrightcol .collapse,
  .howrightcol .card-body,
  .howrightcol .gatsby-image-wrapper {
    height: 100%;
    width: auto;
  }
  .isempty .modal-body{
    margin-left: 40px;
  margin-right: 40px;
  text-align: center;

  }
  .allcon #accordion {
    padding-right: 0;
  }
}
.allcon iframe {
  width: 100%;
  height: 100%;
}
.playbtnimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.video-wrapper .img-wrap {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
}
.video-wrapper {
  height: 100%;
  position: relative;
}
.opacityzero {
  opacity: 0;
  z-index: -1;
}
.showimg {
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: -9;
}
.node-medical .productcat:before {
  background-color: #868cd2;
}
.node-medical .detailHero {
  background-color: rgba(134, 140, 210, 0.1);
}
.node-medical .ingredientcontent {
  background-color: rgb(134, 140, 210);
}
.node-medical .imgcolclinical {
  display: none;
}
.medicalclinical {
  display: none;
}
.node-medical .medicalclinical {
  display: block;
}
.node-medical .box,
.node-medical .howtousecon,
.node-medical .beforeaftercontainer,
.node-medical .recommendedcon,
.node-medical .allcon,
.node-medical .recommendedparingrightcol,
.node-medical .productsuggestioncon {
  background-color: rgba(134, 140, 210, 0.1) !important;
}

.node-medical .howrightcol {
  background-color: #e7e9f6;
}
.node-medical .collapsebtn,
.node-medical .collapsebtn1,
.node-medical .carouselproductscon {
  background-color: rgb(134, 140, 210) !important;
}
.iiz__btn.iiz__hint {
  top: 10px;
}

.zoom-desk,
.zoom-mobile {
  display: none;
}
.productInBag {
  padding: 25px;
  border: 1px solid #d6d6d6;
  border-radius: 6px;
  padding-right: 75px;
  margin-bottom: 24px;
}
.productInBag img {
  max-width: 100%;
}
.productInBag .spinner::before {
  width: 20px;
  height: 20px;
}
#Showbag .spinner::before{
  width: 30px;
  height: 30px;
}
.w-100{
  width: 100%;
}
@media (min-width:549px) and (max-width:991px){
  #Showbag .modal-dialog{
    width: 100%;
    max-width: none;
  }
  #Showbag {
    top: 163px;
  }
  .body-small-margin #Showbag{
    top: 108px;
  
  }
    #Showbag .modal-content {
    border: 0;
    border-radius: 0;
    height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}
}
.cahngepos{
  left: 15px !important;
  top: 5px !important;
}
.locker{
  background-color: transparent;
  border: 0;

}
.locker p {
  left: 1px !important;
  top: 0 !important;
  width: 100%;
}
button:focus{
 outline: 0;
}
.modal-header .close{
  position: absolute;
  width: 32px;
  height: 32px;
  opacity: 1;
  right: 41px;
  top: 24px;
}
.modal-header .close:hover {
  opacity: 1;
}
.modal-header .close:before,.modal-header .close:after {
  position: absolute;
  left: 15px;
  top: 24px;
  content: ' ';
  height: 16px;
  width: 1px;
  background-color: #132466;
}

.show-account .modal-header .close:before, .show-account .modal-header .close:after {
  top: 0;
}

.modal-header .close:before {
  transform: rotate(45deg);
}
.modal-header .close:after {
  transform: rotate(-45deg);

}
@media (max-width: 767px) {
  .node-medical .howrightcol {
    background-color: #f3f3fb;
}
  .mob-text-center{
    text-align: center;
  }
  .modal-header .close{
    top: 16px;
  }
  .mobsetpadding{
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .selectedproductsCard{
    margin-right: 0;
    margin-left: 0;
  }
  .mob-pl-0{
    padding-left: 0;
  }.mob-pr-0{
    padding-right: 0;
  }
  
  #Showbag {
    z-index: 999999999;
    width: 100%;
    height: 100vh;
    margin-bottom: 0;
    position: fixed;
    top: 192px;
    right: 0;
  }  
  #Showbag .modal-content {
    border: 0;
    border-radius: 0;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}
.body-small-margin  #Showbag .modal-content {
height: 545px;
}
  .zoom-mobile {
    display: block;
  }
  
  .productInBag {
    padding: 25px 16px;

  }
}
@media (min-width:1024px){
  .hide-desk{
    display: none;
  }

}
@media (min-width: 768px) {
  .md-pl0{
    padding-left: 0;
  }
  .zoom-desk {
    display: block;
  }
  .zoom-desk > div {
    max-width: 100%;
  }
}
.alignFlex{
  align-items: center;
}
.productimage .slick-slide div[data-arrange] {
  outline: 0 !important;
}
#VideoPopUp {
  padding-right: 0 !important;
}
#VideoPopUp .modal-content {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  outline: 0;
}
#VideoPopUp .modal-dialog {
  max-width: 900px;
}
#VideoPopUp iframe {
  width: 100%;
  border: 0;
}
#VideoPopUp .modal-header {
  border: 0;
  padding: 0;
}
#VideoPopUp .modal-body {
  padding: 0;
  padding-top: 1rem;
  width: 100%;
}
#VideoPopUp .close,
#VideoPopUp .close:hover,
#VideoPopUp .close:focus {
  color: #fff;
  opacity: 0.5;
  border: 0;
  box-shadow: none;
  outline: 0;
  font-size: 2rem;
  padding-bottom: 20px;
}
.ListContainer {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.CollectionListcontainer {
  border-top: 1px solid rgba(19, 36, 102, 0.2);
  padding-top: 40px;
}
.Collectionfiltercontainer {
  padding-bottom: 30px;
}
.pb-20 {
  padding-bottom: 20px;
}

.d-none {
  display: none;
}
.node-medicalConcerntype .medical-bg,
.node-medicalCategoriestype .medical-bg {
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(81, 87, 162, 0.65)
  );
}
.node-medicalConcerntype .collectionList,
.node-medicalCategoriestype .collectionList {
  background-color: rgba(19, 36, 102, 0.1);
}
.node-medicalConcerntype .collectionfooter,
.node-medicalCategoriestype .collectionfooter {
  background-color: #868cd2;
}
@media (min-width: 1024px) {
  #Showbag .modal-content {

    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .equalheight .slick-track {
    display: flex;
  }
  .equalheight .slick-initialized .slick-slide {
    height: auto;
  }
  .equalheight .slick-initialized .slick-slide > div,
  .equalheight .slick-initialized .slick-slide > div > div {
    height: 100%;
  }
  #Showbag .empatyState{
    padding-bottom: 395px;
    padding-top: 270px;
  }
}

.hero-slider.medical-slider .slick-dots li.active button::before {
    background-color: #00c7d8;
}

.tab-slider {
    padding-bottom: 0;
}
.tab-slider .slick-dots{
  display: flex !important;
  justify-content: flex-start;
  
}
.tab-slider .slick-dots li{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  height: 8px;
  background-color: #fff;
}
.tab-slider .slick-dots li.slick-data-active{
  background-color: #132466;
}

.slick-dots li:last-child{
  border-bottom-right-radius: 128px;
  border-top-right-radius: 128px;
}
.slick-dots li:first-child{
  border-bottom-left-radius: 128px;
  border-top-left-radius: 128px;
}
.tab-slider .slick-dots button{
  display: none !important;
}
/* .slick-slider.tab-slider.slick-initialized .slick-slide {
    width: 212px !important; 
} */

.line-tab.active {
    background: #132466;
    color: #fff;
    box-shadow: unset;
}

.tab-slider .active.line-tab::after {
        content: '';
        width: 24px;
        height: 24px;
        background: #132466;
        position: absolute;
        bottom: -2px;
        right: 45%;
        display: inline-block;
        transform: rotate(-315deg);
        z-index: -1;
}
@media (max-width: 767px) {
  
  .tab-slider .slick-dots {
    display: none !important;
  }
}
.comingSoon {
  padding-top: 160px;
  text-align: center;
  padding-bottom: 160px;
}
.img-mega{
  min-width: 100px !important;
 min-height: 100px !important;
 width: 100%;
 height: 100%;
}
.d-block{
  display: block;

}
.nav-img-desk .d-block{
  padding: 0 !important;
}
.titleLink{
  padding: 0 !important;
  color: #132466 !important;
  margin-top: 40px !important;
}
.nav-title-desk {
  display: inline-block !important;

  padding-top: 0 !important;
}
.nav-container-desk .nav-title-desk::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  top: 17px !important;
  left: 16px;
  background: #132466;
}
#product-filter,.filters-select {
  position: absolute;
  opacity: 0;
  z-index: -99;
}
.collectionList .custom-select {
  padding: 0;
  height: auto;
  background: transparent;
}
.collectionList .select-selected{
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  background-color: transparent;
  color: #132466;
  border: 1px solid #132466;
  border-radius: 6px;
  font-size: 18px;
  line-height: 24px;
  font-family:  futura-pt-Medium,   sans-serif; 
  font-weight:  500; 
  font-style:  normal;
}
.select-items div, .select-selected {
  
  padding: 15px 16px;
}

.collectionList .select-selected::after{
  background-image: url(mobileArrow.svg);
  border: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  transition: all ease 300ms;
  
}
.birthselect  .select-selected{
  background-color: #fff;
  box-shadow: none;
  outline: none;
  color: #132466;
  padding:0 !important;
  border: none !important;
}
.collectionList .select-selected.select-arrow-active::after {
  transform: translate(-3px,-10px) rotate(-180deg);
  transition: all ease 300ms;
}
.collectionList .select-items{
  background-color: #132466;
}
.bigSliderContainer .slick-disabled{
  display: none !important;
}
.bigSliderContainer .productInlineSlider .slick-disabled{
  display: block !important;
}
.productimage .slick-dots {
  bottom: -26px;
}
.show .popcontent{
  display: block;
}
.show .infoselected{
  display: block;
}

.show .info{
  display: none;
}
.yourbagpadding{
  padding-left: 25px;
  padding-right: 25px;
}
#birth-select{
  position: fixed;
}
.birthselect .select-selected{
  font-size: 18px;
  line-height: 32px;
  color: #7c858a;
}
.birthselect .select-selected::after {
right: 10px;
}
.birthselect{

  border: 0;
  padding: 0;
  padding-left: 16px;
  padding-right: 16px;
   }
@media (min-width: 768px) {

  
  .d-flex.show-mob{
    display: none !important;
  }
  .show-mob{
    display: none;
  }
  .productHero .iiz {
    cursor: url(../images/product-images/PlusCurser.svg), auto !important;
  }
  .productHero .slick-slide > div > div {
    cursor: url(../images/product-images/PlusCurser.svg), auto !important;
  }
  #Showbag {
    z-index: 999999999;
    height: 100vh;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    min-width: 500px;
}
}

.address-modal .select-selected, .review-modal .select-selected, .register .select-selected{
  position: relative;
  background-color: #fff;
}

.address-modal .select-selected::after, .review-modal .select-selected::after, .register .select-selected::after{
  background-image: url(../images/path-copy.png);
  border: 0;
  top: 24px;
  right: 16px;
  transform: rotate(180deg);
  width: 10px;
  height: 8px;
  background-repeat: no-repeat;
  transition: all ease 300ms;
 
}

.register .select-selected::after {
  top: 0;
}

.address-modal .select-selected.select-arrow-active::after, .review-modal .select-selected.select-arrow-active::after, .register .select-selected.select-arrow-active::after {
  transform: rotate(0);
  transition: all ease 300ms;
}

.address-modal .select-selected.select-arrow-active::before, .review-modal .select-selected.select-arrow-active::before, .register .select-selected.select-arrow-active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10px;
  z-index: 9999999999;
  background: #fff;
}


.address-modal .select-items, .review-modal .select-items, .register .select-items  {
  background-color: #fff;
 
}
.terms {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.terms input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}
.terms{
  margin-top: 25px;
}
/* On mouse-over, add a grey background color */
.terms:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.terms input:checked ~ .checkmark {
  background-color: #132466;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.terms input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.terms .checkmark:after {
  left: 9px;
  top: 3px;
  width: 8px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.signup-btn{
  display: block;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.2px;
  color: #fff;
  background-color: #d6d6d6;
  border: 1px solid #d6d6d6;
  margin: 16px 16px 16px 0;
  text-transform: uppercase;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 11px;
  padding-right: 10px;
  font-weight: 700;
}

.signup-btn:hover {
  color: #fff;
  background: #132466;
  border: 1px solid #132466;
}

.signup-btn:focus {
  box-shadow: none;
}

@media (min-width: 992px) {
  .signup-btn {
    padding-left: 0;
    padding-right: 0;
    margin: 25px 0 0 0;
    width: 100%;
  }
}

.spaceBetween{
  justify-content: space-between;
  align-items: center;
}
.footerprivacy{
  font-size: 14px;
  line-height: 16px;
  color: #132466;
  list-style: none;
  display: flex;
  margin-bottom: 0;
}
.mobileImg{
  max-width: 100%;
  height: auto;
}
@media (max-width:767px){
.hide-mob{
  display: none !important;
}
  #product-hero-slick{
    display: none;
  }
  .footerprivacy{
    padding-top: 23.5px;
    margin-bottom: 16px;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid #d6d6d6;
    width: 100%;
    margin-top: 15.5px;
  }
  
 .productHero .pathname {
    display: none;
  }
  .productHero .slick-prev,
  .productHero .slick-prev:hover,
  .productHero .slick-prev:active,
  .productHero .slick-prev:focus {
    left: 0;
    z-index: 999;
  }
  .productHero  .slick-next,
.productHero .slick-next:hover,
.productHero .slick-next:active,
.productHero .slick-next:focus {
right: 0;
z-index: 999;
}
  .footerprivacyli{
    /* margin-top: 30px; */
    /* margin-left: 10px; */
    /* padding-left: 0 !important; */
    /* border: 0 !important; */
  }
  .footerprivacyli:nth-child(2){
    padding-right: 0;
  }

  .formGroup{
    margin-top: 25px;
  }
  .spaceBetween {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 991px) {
  .footerprivacyli:nth-child(3), .footerprivacyli:nth-child(4), .footerprivacyli:nth-child(5) {
    display: none;
  }

  .footerprivacy{
    padding-left: 0;
  }
}

.mt-65{
  margin-top: 65px;
}
.footerprivacyli,.footerprivacyli:hover{
  padding-left: 16px ;
  padding-right: 16px;
  color: #132466;
}

.footerprivacyli:first-child {
  padding-left: 0;
}

.footerprivacyli:last-child{
  padding-right: 0;
}
.footerprivacyli + .footerprivacyli{

  border-left: 1px solid #d6d6d6;
}
#accordion a {
  color: #132466;

}
.radioLabel {
  display: block;
  position: relative;
  padding-left: 35px;
line-height: 24px;
font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radioLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.radiomark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid #132466;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radioLabel:hover input ~ .radiomark {
  background-color: transparent;
  border: 1px solid #132466;
}

/* When the radio button is checked, add a blue background */
.radioLabel input:checked ~ .radiomark {
  background-color: transparent;
  border: 1px solid #132466;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiomark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioLabel input:checked ~ .radiomark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radioLabel .radiomark:after {
  top: 4px;
  left: 4px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #132466;
}
.producTypeSelect{
  align-items: center;
  justify-content: space-around;
 
}
.producTypeSelect label {
  margin-bottom: 0;

}
.align-items-center{
  align-items: center;
}
.removeSelectBorder .select-selected,.removeSelectBorder .custom-select{
  border: 0 !important;

}
.mt-48{
  margin-top: 48px;
}
.removeSelectBorder .select-selected{
  border: 0 !important;
  padding-top: 8px !important;
  padding-bottom: 10px !important;
  padding-left: 0 !important;
}
.removeSelectBorder{
  background-color: #fff;
}
.SelectChanges{
  margin-bottom: 0 ;
  margin-top: 16px;
}
.pb-40{
  padding-bottom: 40px;
}
.medicalbg{
  background-color: rgba(134, 140, 210, 0.1) !important;
}
.pb-48{
  padding-bottom: 48px !important;
}
.medicalProduct{
  display: none;
}
.clinicalProduct{
  display: block;
}
.medicalbg .medicalProduct{
  display: block;
}
.medicalbg .clinicalProduct{
  display: none;
}
.cookie-oven-widget .inline-group h3{
  display: none;
}
.cookie-oven-widget {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: auto;
  box-sizing: border-box;
  background-color: #26cad3;
  position: fixed;
  z-index: 9999;
  color: #fff;
  font-size: 16px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.img-mob{
  width: 100px;
}