<rewriteMaps>
  <rewriteMap name="301Redirect">
    <add key="/hcpfinder" value="/medical/hcpfinder" />
    <add key="/patients/product-line/tretinoin" value="/medical/skin-care-lines/obagi-tretinoin" />
    <add key="/patients/product-line/obagi-nu-derm-system" value="/medical/skin-care-lines/obagi-nu-derm-rx-systems" />
    <add key="/patients/product-line/professional-c-products" value="/medical/skin-care-lines/professional-c-collection" />
    <add key="/patients/product-line/retinols" value="/medical/ingredients/retinol" />
    <add key="/patients/why-obagi/before-after" value="/scientific-innovation" />
    <add key="/otool" value="/skin-analyzer" />
    <add key="/patients/product-line/obagi-nu-derm-system/normal-to-dry-system/nuderm-system-for-normal-to-dry-skin" value="/medical/obagi-nu-derm-rx-system-normal-dry" />
    <add key="/patients/product-line/clenziderm-md-system" value="/medical/skin-care-lines/clenziderm-md-systems" />
    <add key="/patients/product-line/elastiderm-products" value="/medical/skin-care-lines/elastiderm-collection" />
    <add key="/patients/product-line/obagi-c-rx-system" value="/medical/skin-care-lines/obagi-c-rx-systems" />
    <add key="/patients/product-line/obagi-hydrate-moisturizers" value="/medical/skin-care-lines/hydrate-facial-moisturizers" />
    <add key="/patients/skin-tips/skin-concerns" value="/medical" />
    <add key="/patients/product-line/blue-peel" value="/clinical/blue-brilliance-triple-acid-peel" />
    <add key="/patients/product-line/obagi-nu-derm-system/clear" value="/medical/obagi-nu-derm-clear-rx" />
    <add key="/patients/rewards-program/premier-points" value="/medical/premier-points" />
    <add key="/patients/product-line/nu-derm/new-to-nu-derm" value="/nuderm" />
    <add key="/patients/about-us/genuine-obagi" value="/authorized-retailers" />
    <add key="/patients/product-line/elastiderm-eye" value="/medical/skin-care-lines/elastiderm-collection" />
    <add key="/patients/product-line/daily-hydro-drops-facial-serum" value="/medical/daily-hydro-drops-facial-serum" />
    <add key="/patients/product-line/obagi360-system" value="/medical/skin-care-lines/obagi360-system" />
    <add key="/patients/product-line/sun-protection" value="/medical/categories/sunscreens" />
    <add key="/patients/product-line/suzanobagimd" value="/medical/skin-care-lines/suzanobagimd-skin-care-collection" />
    <add key="/patients/about-us/company-bio" value="/our-story" />
    <add key="/patients/why-obagi/inspiring-videos" value="/scientific-innovation" />
    <add key="/patients/product-line/category/92" value="/medical" />
    <add key="/patients/product-line/category/91" value="/medical/categories/skin-care-systems" />
    <add key="/patients/product-line/obagi-nu-derm-system/blender" value="/medical/obagi-nu-derm-blender-rx" />
    <add key="/patients/product-line/clenziderm-md-system/complete-system/clenziderm-md-system" value="/medical/skin-care-lines/clenziderm-md-systems" />
    <add key="/patients/product-line/suzanobagimd/retivance-skin-rejuvenating-complex" value="/medical/suzanobagimd-retivance-skin-rejuvenating-complex" />
    <add key="/patients/product-line/clenziderm-md-system/pore-therapy" value="/medical/clenziderm-md-pore-therapy" />
    <add key="/patients/product-line/blue-peel/blue-peel-radiance-" value="/clinical/blue-brilliance-triple-acid-peel" />
    <add key="/patients/product-line/obagi-c-rx-system/normal-to-dry-system/obagic-rx-system-for-normal-to-dry-skin" value="/medical/obagi-c-rx-system-normal-dry" />
    <add key="/patients/product-line/category/93" value="/medical" />
    <add key="/international" value="/international-partners" />
    <add key="/International" value="/international-partners" />
    <add key="/patients/about-us-faq" value="/FAQ" />
    <add key="/patients/about-us/contact-us" value="/customer-care/contact-us" />
    <add key="/skin-concerns/uneven-skin-tone-dark-spots" value="/medical/skin-concern/hyperpigmentation-melasma" />
    <add key="/patients/about-us/careers" value="/careers" />
    <add key="/patients/product-line/professional-c-products/professionalc-serum-20" value="/medical/professional-c-serum-20" />
    <add key="/patients/product-line/professional-c-products/professionalc-microdermabrasion-polish---mask" value="/medical/professional-c-microdermabrasion-polish-mask" />
    <add key="/patients/product-line/condition/191" value="/medical/skin-concern/hyperpigmentation-melasma" />
    <add key="/patients/product-line/condition/186" value="/medical/skin-concern/fine-lines-and-wrinkles" />
    <add key="/patients/product-line/elastiderm-products/elastiderm-facial-serum" value="/medical/elastiderm-facial-serum" />
    <add key="/patients/product-line/obagi-nu-derm-fx-system-normal-dry-skin" value="/medical/obagi-nu-derm-fx-system-normal-dry" />
    <add key="/patients/product-line/keraphine" value="/medical/skin-care-lines/keraphine-body-smoothing-lotion" />
    <add key="/terms/hyperpigmentation" value="/medical/skin-concern/hyperpigmentation-melasma" />
    <add key="/patients/product-line/nu-derm/continuum" value="/nuderm" />
    <add key="/patients/community/inner-circle" value="/" />
    <add key="/patients/product-line/obagi360-system/complete-system/obagi360-system" value="/medical/skin-care-lines/obagi360-system" />
    <add key="/patients/product-line/condition/183" value="/medical/categories/acne-products" />
    <add key="/patients/product-line/professional-c-products/professionalc-serum-15" value="/medical/professional-c-serum-15" />
    <add key="/patients/product-line/obagi-facials" value="/medical/hcpfinder" />
    <add key="/patients/why-obagi/testimonials" value="/our-story" />
    <add key="/patients/product-line/professional-c-products/professionalc-serum-10" value="/medical/professional-c-serum-10" />
    <add key="/skin-concerns/acne-blemishes" value="/medical/categories/acne-products" />
    <add key="/patients/product-line/obagi-nu-derm-system/normal-to-oily-system/nuderm-system-for-normal-to-oily-skin" value="/medical/obagi-nu-derm-rx-system-normal-oily" />
    <add key="/patients/product-line/condition/189" value="/medical/skin-concern/fine-lines-and-wrinkles" />
    <add key="/patients/product-line/sun-protection/sun-shield-tint-broad-spectrum-spf-50" value="/medical/sun-shield-tint-broad-spectrum-spf-50-cool" />
    <add key="/patients/product-line/obagi-nu-derm-system/normal-to-dry-system/toner" value="/medical/nu-derm-toner" />
    <add key="/patients/product-line/obagi-hydrate-moisturizers/obagi-hydrate-luxe" value="/medical/hydrate-luxe" />
    <add key="/patients/product-line/obagi-nu-derm-system/normal-to-dry-system/gentle-cleanser" value="/medical/nu-derm-gentle-cleanser" />
    <add key="/patients/product-line/obagi-nu-derm-system/normal-to-oily-system/foaming-gel" value="/medical/nu-derm-foaming-gel" />
    <add key="/skin-concerns/lines-wrinkles" value="/medical/skin-concern/fine-lines-and-wrinkles" />
    <add key="/search/node/Retinol" value="/medical/ingredients/retinol" />
    <add key="/search/node/retinol" value="/medical/ingredients/retinol" />
    <add key="/patients/product-line/tretinoin/tretinoin-cream-0025" value="/medical/obagi-tretinoin-0-025-cream" />
    <add key="/patients/product-line/obagi-c-rx-system/normal-to-dry-system/cclarifying-serum-normal-to-dry-skin" value="/medical/obagi-c-rx-c-clarify-serum-normal-dry" />
    <add key="/patients/why-obagi/ambassador-stories" value="/our-story" />
    <add key="/patients/product-line/category/94" value="/medical/skin-care-lines/suzanobagimd-skin-care-collection" />
    <add key="/patients/product-line/tretinoin/tretinoin-gel-005" value="/medical/obagi-tretinoin-0-05-gel" />
    <add key="/terms/melasma" value="/medical/skin-concern/hyperpigmentation-melasma" />
    <add key="/patients/loyalty-program/bonus-points-offer" value="/medical/premier-points" />
    <add key="/patients/product-line/condition/185" value="/medical/skin-concern/aging-eyes" />
    <add key="/patients/product-line/suzanobagimd/intensive-daily-repair-idr" value="/medical/suzanobagimd-intensive-daily-repair" />
    <add key="/patients/product-line/obagi-c-fx-system-normal-dry-skin/normal-to-dry-system/obagic-fx-system-for-normal-to-dry-skin" value="/medical/obagi-c-fx-system-normal-dry" />
    <add key="/search/node/Vitamin c" value="/clinical/skin-care/vitamin-c-skin-care" />
    <add key="/search/node/vitamin c" value="/clinical/skin-care/vitamin-c-skin-care" />
    <add key="/patients/product-line/obagi-c-rx-system/normal-to-dry-system/cexfoliating-day-lotion-" value="/medical/obagi-c-c-exfoliating-day-lotion" />
    <add key="/patients/product-line/clenziderm-md-system/daily-care-foaming-cleanser" value="/medical/clenziderm-md-daily-care-foaming-cleanser" />
    <add key="/patients/product-line/category/95" value="/medical/hcpfinder" />
    <add key="/cookie-policy" value="/privacy-policy" />
    <add key="/patients/community/obagi" value="/" />
    <add key="/patients/product-line/professional-c-products/professionalc-peptide-complex" value="/medical/professional-c-peptide-complex" />
    <add key="/patients/product-line/tretinoin/tretinoin-cream-005" value="/medical/obagi-tretinoin-0-05-cream" />
    <add key="/patients/product-line/obagi-nu-derm-system/normal-to-dry-system/exfoderm" value="/medical/nu-derm-exfoderm" />
    <add key="/patients/product-line/condition/184" value="/medical/skin-type/dry-skin" />
    <add key="/patients/product-line/elastiderm-products?tab=real-results" value="/medical/skin-care-lines/elastiderm-collection" />
    <add key="/patients/product-line/obagi-nu-derm-system?tab=real-results" value="/medical/skin-care-lines/obagi-nu-derm-rx-systems" />
    <add key="/patients/product-line/retinols/retinol-10" value="/medical/obagi-retinol-1-0" />
    <add key="/patients/product-line/obagi-fx/overview" value="/medical" />
    <add key="/patients/product-line/retinols/retinol-05" value="/medical/obagi-retinol-0-5" />
    <add key="/patients/product-line/tretinoin/tretinoin-cream-01" value="/medical/obagi-tretinoin-0-1-cream" />
    <add key="/patients/skin-tips/skin-concerns?tid=191" value="/medical/skin-concern/hyperpigmentation-melasma" />
    <add key="/terms/exfoliation" value="/medical/categories/facial-exfoliators" />
    <add key="/patients/product-line/obagi-nu-derm-fx-system-normal-dry-skin/normal-to-dry-system/obagi-nuderm-fx-system-for-normal-to-dry-skin" value="/medical/obagi-nu-derm-fx-system-normal-dry" />
    <add key="/patients/product-line/obagi-nu-derm-system?tab=product-details" value="/medical/obagi-c-rx-system-normal-dry" />
    <add key="/patients/skin-tips/video-tips" value="/skincare" />
    <add key="/patients/skin-tips/skin-concerns?tid=183" value="/medical/categories/acne-products" />
    <add key="/patients/product-line/obagi-nu-derm-system/complementary-products/sunfader" value="/medical/obagi-nu-derm-rx-sunfader" />
    <add key="/patients/product-line/condition/103" value="/medical/skin-concern/sensitive-skin" />
    <add key="/patients/product-line/obagi360-system/complete-system/retinol-05" value="/medical/obagi-retinol-0-5" />
    <add key="/patients/product-line/suzanobagimd/cleansing-wipes" value="/medical/suzanobagimd-cleansing-wipes" />
    <add key="/patients/product-line/blue-peel?tab=real-results" value="/clinical/blue-brilliance-triple-acid-peel" />
    <add key="/patients/product-line/obagi-nu-derm-system/normal-to-dry-system/nuderm-system-for-normal-to-dry-skin?tab=real-results" value="/medical/obagi-nu-derm-rx-system-normal-dry" />
    <add key="/patients/product-line/condition/188" value="/medical/categories/sunscreens" />
    <add key="/node/638" value="/medical/skin-care-lines/elastiderm-collection" />
    <add key="/search/node/Tretinoin" value="/medical/skin-care-lines/obagi-tretinoin" />
    <add key="/search/node/tretinoin" value="/medical/skin-care-lines/obagi-tretinoin" />
    <add key="/skin-concerns/dry-skin" value="/medical/skin-type/dry-skin" />
    <add key="/patients/product-line/obagi-hydrate-moisturizers/hydrate-facial-moisturizer-" value="/medical/hydrate-facial-moisturizer" />
    <add key="/patients/terms-conditions" value="/terms-of-use" />
    <add key="/patients/product-line/condition/190" value="/clinical/skin-care/retexturizing-skin-care" />
    <add key="/patients/loyalty-program/faqs" value="/medical/premier-points" />
    <add key="/skin-concerns/uneven-skin-tone-dark-spots?page=1" value="/medical/skin-concern/hyperpigmentation-melasma" />
    <add key="/terms/glycolic-acid" value="/medical/ingredients/glycolic-acid" />
    <add key="/patients/product-line/elastiderm-products/elastiderm-eye-cream" value="/medical/elastiderm-eye-cream" />
    <add key="/skin-concerns/eye-area" value="/medical/skin-concern/aging-eyes" />
    <add key="/patients/product-line/suzanobagimd/soothing-complex-broad-spectrum-spf-25" value="/medical/suzanobagimd-soothing-complex-broad-spectrum-spf-25" />
    <add key="/patients/product-line/clenziderm-md-system/complementary-products/therapeutic-moisturizer-" value="/medical/clenziderm-md-therapeutic-moisturizer" />
    <add key="/patients/product-line/suzanobagimd/foaming-cleanser" value="/medical/suzanobagimd-foaming-cleanser" />
    <add key="/terms/redness" value="/medical/skin-concern/redness-prone" />
    <add key="/patients/product-line/sun-protection/obagi-sun-shield-matte-broad-spectrum-spf-50" value="/medical/sun-shield-matte-broad-spectrum-spf-50" />
    <add key="/patients/product-line/keraphine?tab=real-results" value="/medical/skin-care-lines/keraphine-body-smoothing-lotion" />
    <add key="/patients/international" value="/international-partners" />
    <add key="/patients/product-line/obagi-nu-derm-system/normal-to-dry-system/nuderm-system-for-normal-to-dry-skin?tab=product-details" value="/medical/obagi-nu-derm-rx-system-normal-dry" />
    <add key="/patients/product-line/obagi-c-rx-system?tab=real-results" value="/medical/skin-care-lines/obagi-c-rx-systems" />
    <add key="/patients/product-line/condition/106" value="/medical" />
    <add key="/skin-concerns/signs-aging" value="/medical/skin-concern/fine-lines-and-wrinkles" />
    <add key="/patients/product-line/suzanobagimd/acne-cleansing-wipes" value="/medical/suzanobagimd-acne-cleansing-wipes" />
    <add key="/patients/product-line/clenziderm-md-system?tab=real-results" value="/medical/skin-care-lines/clenziderm-md-systems" />
    <add key="/patients/product-line/sun-protection/professionalc-suncare-broad-spectrum-spf-30" value="/medical/professional-c-suncare-broad-spectrum-spf-30-sunscreen" />
    <add key="/patients/product-line/elastiderm-products/elastiderm-eye-serum" value="/medical/elastiderm-eye-serum" />
    <add key="/patients/skin-tips/skin-concerns?tid=189" value="/medical/skin-concern/fine-lines-and-wrinkles" />
    <add key="/search/node/Eye cream" value="/medical/skin-care-lines/elastiderm-collection" />
    <add key="/search/node/eye cream" value="/medical/elastiderm-eye-cream" />
    <add key="/patients/product-line/obagi-nu-derm-system/normal-to-dry-system/blender" value="/medical/obagi-nu-derm-blender-rx" />
    <add key="/terms/salicylic-acid" value="/medical/ingredients/salicylic-acid" />
    <add key="/patients/product-line/tretinoin/" value="/medical/skin-care-lines/obagi-tretinoin" />
    <add key="/search/node/Toner" value="/medical/categories/facial-toners" />
    <add key="/search/node/toner" value="/medical/categories/facial-toners" />
    <add key="/categories/skin-care" value="/skincare" />
    <add key="/search/node/Clear" value="/medical/obagi-nu-derm-clear-rx" />
    <add key="/search/node/clear" value="/medical/obagi-nu-derm-clear-rx" />
    <add key="/search/node/Bha" value="/medical/ingredients/salicylic-acid" />
    <add key="/patients/product-line/obagi360-system?tab=real-results" value="/medical/skin-care-lines/obagi360-system" />
    <add key="/patients/privacy-policy" value="/privacy-policy" />
    <add key="/skin-concerns/sensitive-skin" value="/medical/skin-concern/sensitive-skin" />
    <add key="/patients/product-line/obagi-nu-derm-system/normal-to-dry-system/clear" value="/medical/obagi-nu-derm-clear-rx" />
    <add key="/patients/product-line/obagi-nu-derm-system/normal-to-oily-system/exfoderm-forte" value="/medical/nu-derm-exfoderm-forte" />
    <add key="/search/node/Cleanser" value="/medical/categories/facial-cleansers" />
    <add key="/patients/skin-tips/skin-concerns?tid=186" value="/medical/skin-concern/fine-lines-and-wrinkles" />
    <add key="/patients/product-line/obagi-nu-derm-system/normal-to-oily-system/sun-shield-matte-broad-spectrum-spf-50" value="/medical/sun-shield-matte-broad-spectrum-spf-50" />
    <add key="/skin-concerns/lines-wrinkles?page=1" value="/medical/skin-concern/fine-lines-and-wrinkles" />
    <add key="/terms/dark-spots" value="/medical/skin-concern/hyperpigmentation-melasma" />
    <add key="/patients/product-line/sun-protection/hydrafactor-broad-spectrum-spf-30-" value="/medical/obagi360-hydrafactor-broad-spectrum-spf-30" />
    <add key="/patients/product-line/sun-protection/obagi-sun-shield-mineral-broad-spectrum-spf-50" value="/medical/sun-shield-mineral-broad-spectrum-spf-50" />
    <add key="/patients/product-line/obagi-nu-derm-system/normal-to-oily-system/blender" value="/medical/obagi-nu-derm-blender-rx" />
    <add key="/search/node/Sunscreen" value="/medical/categories/sunscreens" />
    <add key="/patients/sitemap" value="/sitemap" />
    <add key="/search/node/Vitamin c serum" value="/medical/ingredients/l-ascorbic-acid" />
    <add key="/patients/product-line/retinols/tretinoin-cream-0025" value="/medical/obagi-tretinoin-0-025-cream" />
    <add key="/search/node/Retivance" value="/medical/suzanobagimd-retivance-skin-rejuvenating-complex" />
    <add key="/patients/product-line/suzanobagimd/physical-defense-tinted-broad-spectrum-spf-50" value="/medical/suzanobagimd-tinted-physical-defense-spf-50" />
    <add key="/search/node/Acne" value="/medical/categories/acne-products" />
    <add key="/skin-concerns/acne-blemishes?page=1" value="/medical/categories/acne-products" />
    <add key="/search/node/blender" value="/medical/obagi-nu-derm-blender-rx" />
    <add key="/search/node/Eye" value="/medical/categories/eye-care" />
    <add key="/patients/product-line/retinols/retivance-skin-rejuvenating-complex" value="/medical/suzanobagimd-retivance-skin-rejuvenating-complex" />
    <add key="/search/node/Clenziderm" value="/medical/skin-care-lines/clenziderm-md-systems" />
    <add key="/patients/product-line/professional-c-products/" value="/medical/skin-care-lines/professional-c-collection" />
    <add key="/patients/product-line/retinols/" value="/medical/ingredients/retinol" />
    <add key="/search/node/Elastiderm" value="/medical/skin-care-lines/elastiderm-collection" />
    <add key="/patients/product-line/elastiderm-eye/elastiderm-eye-cream" value="/medical/elastiderm-eye-cream" />
    <add key="/patients/product-line/suzanobagimd/balancing-toner" value="/medical/suzanobagimd-balancing-toner" />
    <add key="/patients/why-obagi/ambassador-stories?page=1" value="/our-story" />
    <add key="/search/node/Hydroquinone" value="/medical/ingredients/hydroquinone" />
    <add key="/patients/product-line/obagi-nu-derm-system/normal-to-dry-system/nuderm-system-for-normal-to-dry-skin?tab=how-it-works" value="/medical/obagi-nu-derm-rx-system-normal-dry" />
    <add key="/patients/product-line/obagi-c-rx-system/normal-to-oily-system/obagic-rx-system-for-normal-to-oily-skin" value="/medical/obagi-c-rx-system-normal-oily" />
    <add key="/patients/product-line/obagi360-system/complete-system/hydrafactor-broad-spectrum-spf-30-" value="/medical/obagi360-hydrafactor-broad-spectrum-spf-30" />
    <add key="/find-obagi/obagibeautiful" value="/medical/hcpfinder" />
    <add key="/patients/product-line/retinols/tretinoin-cream-005" value="/medical/obagi-tretinoin-0-05-cream" />
    <add key="/patients/product-line/sun-protection/obagi-nuderm-healthy-skin-protection-broad-spectrum-spf-35" value="/medical/nu-derm-healthy-skin-protection-spf-35" />
    <add key="/terms/benzoyl-peroxide" value="/medical/ingredients/benzoyl-peroxide" />
    <add key="/patients/product-line/clenziderm-md-system/complete-system/pore-therapy" value="/medical/clenziderm-md-pore-therapy" />
    <add key="/search/node/Hydrate" value="/medical/skin-care-lines/hydrate-facial-moisturizers" />
    <add key="/patients/product-line/elastiderm-products/" value="/medical/skin-care-lines/elastiderm-collection" />
    <add key="/patients/product-line/clenziderm-md-system/complete-system/clenziderm-md-system?tab=real-results" value="/medical/skin-care-lines/clenziderm-md-systems" />
    <add key="/patients/product-line/obagi360-system/complete-system/exfoliating-cleanser-" value="/medical/obagi360-exfoliating-cleanser" />
    <add key="/patients/product-line/obagi-hydrate-moisturizers/" value="/medical/skin-care-lines/hydrate-facial-moisturizers" />
    <add key="/patients/product-line/obagi-nu-derm-system/complementary-products/physical-spf-32" value="/medical/nu-derm-physical-sunblock-spf-32" />
    <add key="/patients/product-line/blue-peel/blue-peel" value="/clinical/blue-brilliance-triple-acid-peel" />
    <add key="/patients/product-line/clenziderm-md-system/complete-system/daily-care-foaming-cleanser" value="/medical/clenziderm-md-daily-care-foaming-cleanser" />
    <add key="/patients/product-line/obagi-nu-derm-system/normal-to-oily-system/clear" value="/medical/obagi-nu-derm-clear-rx" />
    <add key="/patients/product-line/obagi-c-rx-system/normal-to-dry-system/obagic-rx-system-for-normal-to-dry-skin?tab=real-results" value="/medical/obagi-c-rx-system-normal-dry" />
    <add key="/patients/product-line/clenziderm-md-system/complete-system/therapeutic-lotion" value="/medical/clenziderm-md-therapeutic-lotion" />
    <add key="/patients/product-line/obagi-nu-derm-system/normal-to-dry-system/sun-shield-matte-broad-spectrum-spf-50" value="/medical/sun-shield-matte-broad-spectrum-spf-50" />
    <add key="/patients/product-line/professional-c-products/professionalc-suncare-spf-30" value="/medical/professional-c-suncare-broad-spectrum-spf-30-sunscreen" />
    <add key="/patients/product-line/professional-c-serum" value="/medical/skin-care-lines/professional-c-collection" />
    <add key="/patients/product-line/obagi360-system/complementary-products/retinol-10" value="/medical/obagi-retinol-1-0" />
    <add key="/patients/product-line/obagi360-system/complete-system/obagi360-system?tab=real-results" value="/medical/skin-care-lines/obagi360-system" />
    <add key="/patients/product-line/obagi-nu-derm-system/normal-to-oily-system/toner" value="/medical/nu-derm-toner" />
    <add key="/patients/product-line/obagi-c-rx" value="/medical/skin-care-lines/obagi-c-rx-systems" />
    <add key="/patients/product-line/obagi-nu-derm-system?tab=success-stories" value="/medical/skin-care-lines/obagi-nu-derm-rx-systems" />
    <add key="/patients/product-line/obagi-nu-derm-system/normal-to-dry-system/nuderm-system-for-normal-to-dry-skin?tab=success-stories" value="/medical/obagi-nu-derm-rx-system-normal-dry" />
    <add key="/patients/product-line/obagi-nu-derm-system/normal-to-dry-system/obagi-hydrate" value="/medical/obagi-nu-derm-rx-system-normal-dry" />
    <add key="/patients/product-line/clenziderm-md-system/complete-system/clenziderm-md-system?tab=how-it-works" value="/medical/skin-care-lines/clenziderm-md-systems" />
    <add key="/patients/product-line/obagi-nu-derm-system/normal-to-oily-system/obagi-hydrate" value="/medical/obagi-nu-derm-rx-system-normal-oily" />
    <add key="/patients/product-line/obagi-hydrate-moisturizers?tab=real-results" value="/medical/skin-care-lines/hydrate-facial-moisturizers" />
    <add key="/patients/product-line/obagi-nu-derm-system?tab=how-it-works" value="/medical/skin-care-lines/obagi-nu-derm-rx-systems" />
    <add key="/patients/product-line/obagi360-system/complete-system/obagi360-system?tab=product-details" value="/medical/skin-care-lines/obagi360-system" />
    <add key="/patients/product-line/suzanobagimd/" value="/medical/skin-care-lines/suzanobagimd-skin-care-collection" />
    <add key="/patients/product-line/retinols/tretinoin-gel-005" value="/medical/obagi-tretinoin-0-05-gel" />
  </rewriteMap>
</rewriteMaps>